<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.accp.mapper.DepartureMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.accp.domain.Departure">
        <id column="id" property="id" />
        <result column="eId" property="eId" />
        <result column="dismissDate" property="dismissDate" />
        <result column="dismissReason" property="dismissReason" />
        <result column="registId" property="registId" />
        <result column="sex" property="sex" />
        <result column="dId" property="dId" />
        <result column="sId" property="sId" />
        <result column="name" property="name" />
        <result column="jobId" property="jobId" />
        <result column="column1" property="column1" />
        <result column="column2" property="column2" />
        <result column="column3" property="column3" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, eId, dismissDate, dismissReason, registId, sex, dId, sId, name, jobId, column1, column2, column3
    </sql>

</mapper>
