<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.accp.mapper.Field-vehiclesMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.accp.domain.Field-vehicles">
        <id column="plate-number" property="plate-number" />
        <result column="brand" property="brand" />
        <result column="motorcycle-type" property="motorcycle-type" />
        <result column="current-mileage" property="current-mileage" />
        <result column="attribution-team" property="attribution-team" />
        <result column="column1" property="column1" />
        <result column="column2" property="column2" />
        <result column="column3" property="column3" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        plate-number, brand, motorcycle-type, current-mileage, attribution-team, column1, column2, column3
    </sql>

</mapper>
