<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.accp.mapper.KhBiaoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.accp.domain.KhBiao">
        <id column="kh_bm" property="khBm" />
        <result column="kh_mc" property="khMc" />
        <result column="kh_dz" property="khDz" />
        <result column="kh_lianxiren" property="khLianxiren" />
        <result column="kh_sjh" property="khSjh" />
        <result column="kh_sr" property="khSr" />
        <result column="kh_lb" property="khLb" />
        <result column="kh_hykh" property="khHykh" />
        <result column="kh_rhrq" property="khRhrq" />
        <result column="kh_hydq" property="khHydq" />
        <result column="kh_bz" property="khBz" />
        <result column="kh_jdrq" property="khJdrq" />
        <result column="kh_fwgw" property="khFwgw" />
        <result column="kh_zqts" property="khZqts" />
        <result column="kh_gz_ed" property="khGzEd" />
        <result column="kh_ljjf" property="khLjjf" />
        <result column="kh_djje" property="khDjje" />
        <result column="kh_khs1" property="khKhs1" />
        <result column="kh_khs2" property="khKhs2" />
        <result column="kh_khq" property="khKhq" />
        <result column="kh_nsrsbh" property="khNsrsbh" />
        <result column="kh_zcdh" property="khZcdh" />
        <result column="kh_khyh" property="khKhyh" />
        <result column="kh_yhzh" property="khYhzh" />
        <result column="kh_zcdz" property="khZcdz" />
        <result column="column1" property="column1" />
        <result column="column2" property="column2" />
        <result column="column3" property="column3" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        kh_bm, kh_mc, kh_dz, kh_lianxiren, kh_sjh, kh_sr, kh_lb, kh_hykh, kh_rhrq, kh_hydq, kh_bz, kh_jdrq, kh_fwgw, kh_zqts, kh_gz_ed, kh_ljjf, kh_djje, kh_khs1, kh_khs2, kh_khq, kh_nsrsbh, kh_zcdh, kh_khyh, kh_yhzh, kh_zcdz, column1, column2, column3
    </sql>

</mapper>
