<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.accp.mapper.List-of-salesMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.accp.domain.List-of-sales">
        <id column="sales-order" property="sales-order" />
        <result column="billsType" property="billsType" />
        <result column="balance" property="balance" />
        <result column="billstatus" property="billstatus" />
        <result column="settlement-status" property="settlement-status" />
        <result column="settlement-time" property="settlement-time" />
        <result column="settlement-user" property="settlement-user" />
        <result column="settlement-money" property="settlement-money" />
        <result column="service-type" property="service-type" />
        <result column="username" property="username" />
        <result column="plate-number" property="plate-number" />
        <result column="motorcycle-type" property="motorcycle-type" />
        <result column="frame" property="frame" />
        <result column="phone" property="phone" />
        <result column="insurer" property="insurer" />
        <result column="Indemnity-company" property="Indemnity-company" />
        <result column="license-plate" property="license-plate" />
        <result column="service-Adviser" property="service-Adviser" />
        <result column="completion-time" property="completion-time" />
        <result column="remarks" property="remarks" />
        <result column="column1" property="column1" />
        <result column="column2" property="column2" />
        <result column="column3" property="column3" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        sales-order, billsType, balance, billstatus, settlement-status, settlement-time, settlement-user, settlement-money, service-type, username, plate-number, motorcycle-type, frame, phone, insurer, Indemnity-company, license-plate, service-Adviser, completion-time, remarks, column1, column2, column3
    </sql>

</mapper>
