<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.accp.mapper.MechanicsstarLevelMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.accp.domain.MechanicsstarLevel">
        <id column="crade_code" property="cradeCode" />
        <result column="crade_name" property="cradeName" />
        <result column="full_commission" property="fullCommission" />
        <result column="column1" property="column1" />
        <result column="column2" property="column2" />
        <result column="column3" property="column3" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        crade_code, crade_name, full_commission, column1, column2, column3
    </sql>

</mapper>
