<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.accp.mapper.SuppliersIconMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.accp.domain.SuppliersIcon">
        <id column="ic_id" property="icId" />
        <result column="ic_name" property="icName" />
        <result column="sid" property="sid" />
        <result column="column1" property="column1" />
        <result column="column2" property="column2" />
        <result column="column3" property="column3" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ic_id, ic_name, sid, column1, column2, column3
    </sql>

</mapper>
