<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>岗位定义</title>
		<link rel="stylesheet" href="css/bootstrap.min.css" />
		 <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
		 <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		
		 <!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
		 <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
		
		 <link rel="stylesheet" type="text/css" href="../yf/css/font-awesome.css" />
		 <link rel="stylesheet" href="../yf/css/public-y.css">
		 <link rel="stylesheet" href="../yf/css/car_contact.css">
		 <!-- 引入样式 -->
		 <link rel="stylesheet" href="../yf/package/lib/style.css">
		<style type="text/css">
			.clear1{
				display: block;
				content: '';
				clear: both;
			}
			.bodyDiv{
				width: 100%;
				background-color: ghostwhite
			}
			.table{
				margin: 20px auto;
			}
			.labcolor{
				font-size: 20px;
				/* color: greenyellow; */
			}
			.headDiv{
				background-color:ghostwhite;
				width: 100%;
				height:80px;
			}
			.headDiv_left {
				font-size: 26px;
				margin: 20px 30px;
				height: 40px;
				line-height: 40px;
				float: left;
			}
			.headDiv_right{
				float: right;
				height: 40px;
				line-height: 40px;
				margin: 20px 30px;
			}
			.btn{
				height: 40px;
				line-height: 40px;
				text-align: center;
				padding: 0px 12px;
				margin-left: 10px;
			}
			.buttonMenus{
				/*margin-top: 20px;*/
				margin-right: 20px;
				background-color:whitesmoke;
				text-align: right;				
			}
			.table{
				width: 80%;
				margin-left: 5%;
			}
			.table th{
				color: white;
				background-color: deepskyblue;
				border: 1px solid black;
			}
			.table td{
				border: 1px solid gray;
			}
			body,html{
				width: 100%;
				height: 100%;
				margin: 0px;
				padding: 0px;
				background-color: ghostwhite;
				overflow-x: hidden;
			}
		</style>
	</head>
	<body>
		<div id="ctx">
				<div class="clear1 headDiv">
					<div class="headDiv_left">岗位定义</div>
						<div class="headDiv_right">
						<vxe-button>
						<span class="glyphicon glyphicon-off" aria-hidden="true"></span>
							关闭
						</vxe-button>
					</div>
				</div>
				<div class="bodyDiv">
					<div class="buttonMenus">
						<vxe-button  @click="add">
						<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
							增加
						</vxe-button>
						<vxe-button  @click="remove">
						<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
							删除
						</vxe-button>
						<vxe-button  @click="update">
						<span class="glyphicon glyphicon-floppy-saved" aria-hidden="true"></span>
							保存
						</vxe-button>
						<vxe-button  @click="daoChu">
						<span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span>
							导出
						</vxe-button>
					</div>
					<div class="row">
						<div class="col-lg-3">
							<label for="jid" class="labcolor">岗位编码</label>
							<input type="text" id="jid"  v-model="gangwei.jobId" style="outline: none;"/>
						</div>									
						<div class="col-lg-3">
							<label for="jname" class="labcolor">岗位名称</label>
							<input type="text" id="jname"  v-model="gangwei.jobName" style="outline: none;"/>
						</div>									
					</div>
					<div style="width: 100%;height: 100%;">
						<vxe-table
						border
						show-header-overflow
						show-overflow
						highlight-hover-row
						@cell-click="getJobInform"
						auto-resize="true"
						:data="list">
						<vxe-table-column field="jobId" title="岗位编码"></vxe-table-column>
						<vxe-table-column field="jobName" title="岗位名称"></vxe-table-column>
					 	 </vxe-table>
					</div>
					<div>
					合计:<span>{{num}}</span>条记录
					</div>
				</div>
		</div>	
	</body>
	<script type="text/javascript" src="js/vue.js"></script>
	<script type="text/javascript" src="js/jquery-1.12.4.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue"></script>
	<script src="https://cdn.jsdelivr.net/npm/xe-utils"></script>
	<script src="https://cdn.jsdelivr.net/npm/vxe-table@3.1.4"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
	<script>
		var Main={
			data(){
				return{
					gw:[],
					list:[],
					num:0,
					gangwei:{
						jobId:"",
						jobName:"",
						column1:null,
						column2:null,
						column3:null
					},
					//删除用的index
					index:0
				}
			},
			methods:{
				//选中列填充上方
				getJobInform({row}){
					console.log(row);
					this.gangwei=JSON.parse(JSON.stringify(row));
				},
				getCount(){
					let that=this;
					$.ajax({
						url:"http://127.0.0.1:8080/job/count",
						xhrFields: {
							withCredentials: true
						},
						crossDomain: true,
						type:"get",
						success:function(result){
							that.num=result;
						}
					});
				},
				find(){
					let that=this;
					$.ajax({
						url:"http://127.0.0.1:8080/job",
						type:"get",
						dataType:"json",
						xhrFields: {
							withCredentials: true
						},
						crossDomain: true,
						 async:false,
						success:function(result){
							console.log(result);
							that.list=result;
						}
					});
					/*this.gw=this.list;*/
					/*this.num=this.a;*/
				},
				add(){
					let that =this;
					if(that.gangwei.jobId.trim()!=""&&that.gangwei.jobName.trim()!=""){
							var json =JSON.stringify(that.gangwei);
						$.ajax({
							url:"http://127.0.0.1:8080/job",
							type:"post",
							contentType:"application/json;charset=utf-8",
							xhrFields: {
								withCredentials: true
							},
							crossDomain: true,
							data:json,
							async:false,
							success:function(result){
								if(result){
									alert("成功");
								}else{
									alert("失败")
								}
							}
						});
					}
					this.find();
					this.getCount();
					this.clear();
				},
				remove(){
					let that=this;
					console.log(that.gangwei);
					$.ajax({
						url:"http://127.0.0.1:8080/job/remove/"+that.gangwei.jobId,
						type:"delete",
						xhrFields: {
							withCredentials: true
						},
						crossDomain: true,
						 async:false,
						success:function(result){
							alert(result);
						}
					});
					this.find();
					this.getCount();
					this.clear();
				},
				update(){
					let that =this;
					if(that.gangwei.jobId.trim()!=""&&that.gangwei.jobName.trim()!=""){
						var json=JSON.stringify(that.gangwei);
						$.ajax({
							url:"http://127.0.0.1:8080/job",
							contentType:"application/json;charset=utf-8",
							type:"put",
							xhrFields: {
								withCredentials: true
							},
							async:false,
							crossDomain: true,
							data:json,
							success:function(result){
								if(result){
									alert("修改成功");
								}else{
									alert("修改失败");
								}
							}
						});
					}
					this.find();
					this.getCount();
					this.clear();
				},
				daoChu(){
					window.location.href="http://127.0.0.1:8080/job/downLoadExportExcel";
					alert("导出成功");
				},
				tc(item,index){
					this.gangwei.jobId=item.jobId;
					this.gangwei.jobName=item.jobName;
					/*this.index=index;*/
				},
				clear(){
					this.gangwei={};
				},
			},
			created(){
				this.getCount();
				this.find();
			}
		};
		var Ctor = Vue.extend(Main);
	new Ctor().$mount('#ctx');

	VXETable.formats.mixin({
		// 格式化性别
		formatSex({ cellValue }) {
			return cellValue ? (cellValue === '1' ? '男' : '女') : ''
		},
		formatCarStatus({ cellValue }) {
			if (cellValue === 0) {
				return "接车";
			} else if (cellValue === 1) {
				return "作业中"
			} else if (cellValue === 2) {
				return "完工"
			} else {
				return "-"
			}
		},
		formatNull({ cellValue }) {
			return cellValue ? cellValue : '-'
		},
		// 格式化下拉选项
		formatSelect({ cellValue }, list) {
			const item = list.find(item => item.value === cellValue)
			return item ? item.label : ''
		},
		// 格式化日期，默认 yyyy-MM-dd HH:mm:ss
		formatDate({ cellValue }, format) {
			return XEUtils.toDateString(cellValue, format || 'yyyy-MM-dd HH:mm:ss')
		},
		// 四舍五入金额，每隔3位逗号分隔，默认2位数
		formatAmount({ cellValue }, digits = 2) {
			return XEUtils.commafy(XEUtils.toNumber(cellValue), { digits })
		},
		// 格式化银行卡，默认每4位空格隔开
		formatBankcard({ cellValue }) {
			return XEUtils.commafy(XEUtils.toString(cellValue), { spaceNumber: 4, separator: ' ' })
		},
		// 四舍五入,默认两位数
		formatFixedNumber({ cellValue }, digits = 2) {
			return XEUtils.toFixed(XEUtils.round(cellValue, digits), digits)
		},
		// 向下舍入,默认两位数
		formatCutNumber({ cellValue }, digits = 2) {
			return XEUtils.toFixed(XEUtils.floor(cellValue, digits), digits)
		},
		// 转换 moment 类型为字符串
		toMomentString({ cellValue }, format) {
			return cellValue ? cellValue.format(format) : ''
		}
	})
	</script>
</html>
