<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>发动机品牌</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/font-awesome.css">
    <link rel="stylesheet" href="css/engine_brand.css">
    <link rel="stylesheet" href="css/public-y.css">
    <!-- 引入样式 -->
    <link rel="stylesheet" href="package/lib/style.css">
    <style>

    </style>
</head>

<body class="hea-div">
    <div class="container-fluid" style="height: 100%;">
        <div class="row" style="height: 100%;padding: 0px 0px !important;">
            <div style=" border: 0px solid red; padding: 0px 0px !important;" class="col-sm-12">
                <div class="col-sm-12 clearfix nav-div" style="border: 0px solid rebeccapurple;">
                    <h3 class="clearfix" style="margin-top: 10px;">发动机品牌
                        <button class="btn btn-default pull-right btnexit" type="button">关闭</button>
                    </h3>
                </div>
            </div>
            <div class="col-sm-12" style="border: 0px solid red;">
                <div style="text-align: right; margin-top: 10px;">
                    <div style="display: inline-block;">
                        <vxe-toolbar>
                            <template v-slot:buttons>
                                <vxe-button icon="glyphicon glyphicon-plus" @click="engine={}">增加
                                </vxe-button>
                                <vxe-button icon="glyphicon glyphicon-floppy-disk" @click="toEngineBrandIns">保存
                                </vxe-button>
                                <vxe-button icon="glyphicon glyphicon-remove-circle" @click="clickRemove">删除
                                </vxe-button>
                                <vxe-button icon="glyphicon glyphicon-export">导出</vxe-button>
                            </template>
                        </vxe-toolbar>
                    </div>
                </div>
                <div style="margin-bottom: 10px;">
                    <form class="form-inline">
                        <div class="form-group">
                            <label for="exampleInputName2" style="color:rgb(51, 206, 222);">分类代码</label>
                            <input type="text" class="form-control" id="exampleInputName2" v-model="engine.engineId">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail2" style="color:rgb(51, 206, 222);">分类名称</label>
                            <input type="text" class="form-control" id="exampleInputEmail3" v-model="engine.engineName">
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-sm-4" style="height: 70%;border: 0px solid red; ">
                <div style="height: 100%; width: 99%; padding: 0px;">
                    <div style="height: 100%;">
                        <template>
                            <vxe-grid border stripe :loading="loading" highlight-hover-row highlight-current-row
                                resizable ref="xTable" class="mytable-scrollbar" auto-resize height="100%"
                                :data="tableData" :columns="tableColumn" @current-change="currentChangeEvent" round
                                show-header-overflow show-overflow>
                            </vxe-grid>
                        </template>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 countn" style=" height:30px; border: 0px solid red;">
                &nbsp;&nbsp;&nbsp;&nbsp;总数据：<span v-text="tableData.length"></span></div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">删除确认</h4>
                    </div>
                    <div class="modal-body">
                        <h4>是否确认删除该记录？</h4>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary">否</button>
                        <button type="button" class="btn btn-default" @click="remove">是</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <script src="js/jquery-1.12.4.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/bootstrap.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://cdn.jsdelivr.net/npm/xe-utils"></script>
    <script src="https://cdn.jsdelivr.net/npm/vxe-table"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://cdn.jsdelivr.net/npm/xe-utils"></script>
    <script src="https://cdn.jsdelivr.net/npm/vxe-table@3.1.4"></script>
    <script src="js/bootstrap-treeview.js"></script>
    <script src="js/common.js"></script>
    <script type="text/javascript">

        //获取字段名和属性名
        // SELECT COLUMN_NAME,column_comment FROM INFORMATION_SCHEMA.Columns WHERE table_name='student' AND table_schema='myschool1913'
        var Main = {
            data() {
                return {
                    engine: {
                        beforeName: ""
                    },
                    loading: false,
                    engineCount: 0,
                    tableColumn: [
                        { field: 'engineId', title: '发动机品牌编码', sortable: true, showOverflow: true, visible: true },
                        { field: 'engineName', title: '发动机品牌名称', sortable: true, showOverflow: true, visible: true }
                    ],
                    tableData: []
                }
            },
            methods: {
                currentChangeEvent({
                    row
                }) {
                    this.engine = JSON.parse(JSON.stringify(this.$refs.xTable.getCurrentRecord()));
                    this.engine.beforeName = this.engine.engineName;
                },
                find() {
                    //this.loading = true;
                    var that = this;
                    $.ajax({
                        url: "http://localhost:8080/engineBrand",
                        type: "get",
                        xhrFields: {
                            withCredentials: true
                        },
                        crossDomain: true,
                        dataType: "json",
                        beforeSend: function () {
                            // $("#dd").html("加载zhong ")
                        },
                        complete: function (data) {
                            // $("#dd").html(JSON.stringify(data))
                            // that.loading = false;
                        },
                        success: function (result) {
                            handlerResult(result, () => { that.tableData = result.data; });
                            // that.tableData = result;
                        }, error: function (error) {
                            console.log(error);
                        }
                    });
                },
                //查询总数据
                getCount() {
                    var that = this;
                    $.ajax({
                        url: "http://localhost:8080/engineBrand/tocount",
                        type: "get",
                        xhrFields: {
                            withCredentials: true
                        },
                        crossDomain: true,
                        success: function (result) {
                            that.engineCount = handlerResult(result, that.alertModal);
                            // that.engineCount = result;
                        }, error: function (error) {
                            console.log(error);
                        }
                    });
                },
                //新增-修改
                toEngineBrandIns() {
                    var that = this;
                    $.ajax({
                        url: "http://localhost:8080/engineBrand",
                        type: "post",
                        data: {
                            json: JSON.stringify(that.engine)
                        },
                        xhrFields: {
                            withCredentials: true
                        },
                        crossDomain: true,
                        success: function (result) {
                            handlerResult(result, function () {
                                that.find();
                                that.getCount();
                            });
                        }, error: function (error) {
                            console.log(error);
                        }
                    });
                    this.engine = {};
                },
                clickRemove() {
                    let json = JSON.stringify(this.$refs.xTable.getCurrentRecord());
                    if (json != "null") {
                        $("#myModal1").modal("show");
                    }
                },
                remove() {
                    let that = this;
                    $.ajax({
                        url: "http://localhost:8080/engineBrand/remove",
                        type: "post",
                        data: {
                            engineId: that.$refs.xTable.getCurrentRecord().engineId
                        },
                        xhrFields: {
                            withCredentials: true
                        },
                        crossDomain: true,
                        success: function (result) {
                            handlerResult(result, function () {
                                that.find();
                                that.getCount();
                            });
                        }, error: function (error) {
                            console.log(error);
                        }
                    });
                    this.engine = {};
                    $("#myModal1").modal("hide");
                },
                alertModal() {

                }
            },
            created() {
                this.find();
                this.getCount();
            }

        }
        var Ctor = Vue.extend(Main);
        new Ctor().$mount('.container-fluid');
    </script>
</body>

</html>