<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>技工星级</title>
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
	</head>
	<style type="text/css">
		
	</style>
	<body>
		<div id="ctn" class="container-fluid">
			<div class="row" style="background-color: rgb(247,255,255);display: flex;align-items: center;height: 50px;">
				<span style="font-size: 25px;margin-left: 20px;">技工星级</span>
				<button class="btn" style="margin-left: 87%;">关闭</button>
			</div>
			<div class="row"  style="background-color: rgb(247,247,247);">
				<div class="row">
					<div style="margin-top: 10px;margin-left: 80.5%;">
						<a href="#" style="font-size: 20px;color: black;margin-left: 20px;" @click="add()" ><img src="img/4ee2fb32e66e49f242d1067c0bff1921.jpeg" style="width: 20px;margin-right: 5px;" >增加</a>
						<a href="#" style="font-size: 20px;color: black;margin-left: 20px;" @click="remove(Mechanicsstar.column1)"><img src="img/886b14bb25788cdd0af693bef85ed117.jpeg" style="width: 20px;margin-right: 5px;" >删除</a>
						<a href="#" style="font-size: 20px;color: black;margin-left: 20px;" @click="save()"><img src="img/afaa16537c1ec647315b40d55f46546f.jpeg" style="width: 20px;margin-right: 5px;" >保存</a>
					</div>
				</div>
				<div class="row" style="height: 52px;">
					<form class="form-inline">
					  <div class="form-group" style="margin-left: 35px;">
					    <label for="exampleInputName2" style="color: rgb(33,182,206);">等级编码</label>
					    <input v-model="Mechanicsstar.cradeCode" class="form-control" id="exampleInputName2" style="width: 110px;">
					  </div>
						<div class="form-group" style="margin-left: 10px;">
						  <label for="exampleInputEmail2" style="color: rgb(33,182,206);">星级</label>
						  <input v-model="Mechanicsstar.column2" class="form-control" id="exampleInputEmail2" style="width: 110px;">
						</div>
						<div class="form-group" style="margin-left: 10px;">
						  <label for="exampleInputEmail2" style="color: rgb(33,182,206);">等级</label>
						  <input v-model="Mechanicsstar.cradeName" class="form-control" id="exampleInputEmail2" style="width: 110px;">
						</div>
						<div class="form-group" style="margin-left: 10px;">
						  <label for="exampleInputEmail2" style="color: rgb(33,182,206);">提成全重</label>
						  <input v-model="Mechanicsstar.fullCommission" class="form-control" id="exampleInputEmail2" style="width: 110px;">
						</div>
					</form>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3">
					<table class="table table-bordered table-striped table-hover">
						<tr style="background-color: rgb(33,182,206); color: white;">
							<td>等级编码</td>
							<td>星级</td>
							<td>等级</td>
							<td>提成权重</td>
						</tr>
						<tr v-for="item in list" @click="Mechanicsstar=item">
							<td>{{item.cradeCode}}</td>
							<td>{{item.column2}}</td>
							<td>{{item.cradeName}}</td>
							<td>{{item.fullCommission}}</td>
						</tr>
					</table>
				</div>
				
			</div>
		</div>
		
		<script src="js/jquery-1.12.4.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/vue-2.6.js"></script>
		<script>
			new Vue({
				el:"#ctn",
				data(){
					return {
						url:"http://127.0.0.1:8080/mechanicsstarLevel/",
						list:[],
						Mechanicsstar:{column1:0}
					}
				},
				methods:{
					find(){
						let that = this;
						$.ajax({
							url:that.url+"toFind",
							dataType:"json",
							success:function(result){
								console.log(result);
								that.list = result;
							}
						})
					},
					add(){
						this.Mechanicsstar = {column1:0};
					},
					remove(id){
						let that = this;
						var bool = confirm("是否删除？")
						if(bool){
							$.ajax({
								url:that.url+"remove/"+id,
								type:"post",
								success:function(result){
									alert("删除成功!")
									location.reload();
								},
								error:function(){
									alert("删除失败");
								}
							})
						}
						
					},
					save(){
						let that = this;
						var json = JSON.stringify(this.Mechanicsstar);
						$.ajax({
							url:that.url+"update",
							type:"post",
							data:json,
							contentType:"application/json;charset=utf-8",
							success:function(result){
								alert("成功!")
								location.reload();
							},
							error:function(){
								alert("失败");
							}
						})
					}
				},
				created(){
					this.find();
				}
			})
			
		</script>
	</body>
</html>
