<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>结算中心</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
	<!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
	<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	
	<link rel="stylesheet" type="text/css" href="../yf/css/font-awesome.css" />
	<link rel="stylesheet" href="../yf/css/public-y.css">
	<link rel="stylesheet" href="../yf/css/car_contact.css">
	<!-- 引入样式 -->
	<link rel="stylesheet" href="../yf/package/lib/style.css">
	<style>
		.bg {
			background-color: blanchedalmond;
		}
		body,html{
			height: 80%;
		}
	</style>
</head>

<body>
	<div id="ctn" class="container-fluid" style="height: 100%;">
		<div class="row" style="background-color: rgb(247,255,255);display: flex; align-items: center;height: 50px;">
			<span style="font-size: 25px;margin-left: 20px;">结算中心</span>
			<vxe-button  style="margin-left: 80%;" @click="selSalStatusByParse">
				<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
				查询
			</vxe-button>
			<vxe-button  style="margin-left: 10px;">
				<span class="glyphicon glyphicon-off" aria-hidden="true"></span>
				关闭
			</vxe-button>
		</div>
		<div class="row" style="background-color: rgb(247,247,247);height: 40px;"></div>
		<div class="row" style="border-top: 1px solid rgb(33,182,206);">
			<form class="form-inline">
				<div style="margin-top: 10px;">
					<div class="form-group" style="margin-left: 35px;">
						<label for="exampleInputName2" style="color: rgb(33,182,206);">开单日期</label>
						<input type="date" class="form-control" id="exampleInputName2" style="width: 150px;" v-model="saleQuerry.settlementBenginTime">
						<input type="date" class="form-control" id="exampleInputName2" style="width: 150px;" v-model="saleQuerry.settlementEndTime">
					</div>
					<div class="form-group" style="margin-left: 10px;">
						<label for="exampleInputEmail2" style="color: rgb(33,182,206);">销售单号</label>
						<input type="text" class="form-control" id="exampleInputEmail2" style="width: 120px;" v-model="saleQuerry.salesOrder">
					</div>
					<div class="form-group" style="margin-left: 10px;">
						<label for="exampleInputEmail2" style="color: rgb(33,182,206);">结算状态</label>
						<input type="text" class="form-control" id="exampleInputEmail2" style="width: 120px;"  v-model="saleQuerry.settlementStatus">
					</div>
					<div class="form-group" style="margin-left: 10px;">
						<label for="exampleInputEmail2" style="color: rgb(33,182,206);">车牌号</label>
						<input type="text" class="form-control" id="exampleInputEmail2" style="width: 150px;"  v-model="saleQuerry.plateNumber">
					</div>
				</div>

				<div style="margin-top: 10px;margin-bottom: 10px;">
					<div class="form-group" style="margin-left: 34px;">
						<label for="exampleInputEmail2" style="color: rgb(33,182,206);">客户名称</label>
						<input class="form-control"  style="width: 150px;" v-model="saleQuerry.username"/>
					</div>
					<div class="form-group" style="margin-left: 10px;">
						<label for="exampleInputEmail2" style="color: rgb(33,182,206);">服务顾问</label>
						<input name="" class="form-control" id="exampleInputEmail2" style="width: 150px;"  v-model="saleQuerry.serviceAdviser"/>
					</div>
					<div class="form-group" style="margin-left: 10px;">
						<label for="exampleInputEmail2" style="color: rgb(33,182,206);">业务类型</label>
						<select name="" class="form-control" id="exampleInputEmail2" style="width: 150px;"  v-model="saleQuerry.serviceType">
							<option value="item.serviceType" v-for="item in serviceTypeList" v-text="item.serviceType"></option>
						</select>
					</div>
					<div class="form-group" style="margin-left: 10px;">
						<label for="exampleInputEmail2" style="color: rgb(33,182,206);">单据类型</label>
						<select name="" class="form-control" id="exampleInputEmail2" style="width: 150px;"  v-model="saleQuerry.billsType">
							<option value="维修">维修</option>
							<option value="救援">救援</option>
						</select>
					</div>
					<div class="form-group" style="margin-left: 10px;">
						<label for="exampleInputEmail2" style="color: rgb(33,182,206);">备注</label>
						<input type="text" class="form-control" id="exampleInputEmail2" style="width: 150px;"  v-model="saleQuerry.remarks">
					</div>
			</form>
		</div>
	</div>

	<div class="row" style="height: 40px;background-color: rgb(247,247,247);display: flex; align-items: center;">
		<vxe-button   style="font-size: 20px;color: black;margin-left: 20px;" @click="mendian()">
			<span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
			门店选择
		</vxe-button>
		<vxe-button  style="font-size: 20px;color: black;margin-left: 56.5%;" @click="sy()">
			<span class="glyphicon glyphicon-yen" aria-hidden="true"></span>
			收银
		</vxe-button>
		<vxe-button   style="font-size: 20px;color: black;margin-left: 100px;" @click="showRepair">
			<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
			打开单据
		</vxe-button>
		<vxe-button  style="font-size: 20px;color: black;margin-left: 35px;" @click="daochu" >
			<span class="glyphicon glyphicon-cloud-download" aria-hidden="true"></span>
			导出
		</vxe-button>
	</div>

	<div class="row" style="height: 100%;">
		<vxe-table
		border
		highlight-hover-row
		highlight-current-row
		ref="xTable"
		height="100%"
		:data="saleTable"
		@cell-click="getSaleCell"
		@current-change="currentChangeEvent">
		<vxe-table-column field="salesOrder" title="销售单号" width="160"></vxe-table-column>
		<vxe-table-column field="billsType" title="单据类型" width="100"></vxe-table-column>
		<vxe-table-column field="balance" title="结算方式" width="100"></vxe-table-column>
		<vxe-table-column field="billstatus" title="单据状态" width="100"></vxe-table-column>
		<vxe-table-column field="settlementStatus" title="结算状态" width="100"></vxe-table-column>
		<vxe-table-column field="settlementTime" title="结算时间" width="200"></vxe-table-column>
		<vxe-table-column field="settlementUser" title="结算人" width="100"></vxe-table-column>
		<vxe-table-column field="settlementMoney" title="结算金额" width="100"></vxe-table-column>
		<vxe-table-column field="serviceType" title="业务类型" width="100"></vxe-table-column>
		<vxe-table-column field="username" title="客户名称" width="100"></vxe-table-column>
		<vxe-table-column field="plateNumber" title="车牌号" width="100"></vxe-table-column>
		<vxe-table-column field="motorcycleType" title="车型" width="100"></vxe-table-column>
		<vxe-table-column field="frame" title="车架号" width="100"></vxe-table-column>
		<vxe-table-column field="phone" title="联系电话" width="100"></vxe-table-column>
		<vxe-table-column field="insurer" title="保险公司" width="100"></vxe-table-column>
		<vxe-table-column field="indemnityCompany" title="赔款公司" width="100"></vxe-table-column>
		<vxe-table-column field="licensePlate" title="对方车牌" width="100"></vxe-table-column>
		<vxe-table-column field="serviceAdviser" title="服务顾问" width="100"></vxe-table-column>
		<vxe-table-column field="completionTime" title="完工时间" width="200"></vxe-table-column>
		<vxe-table-column field="remarks" title="备注" show-overflow width="100"></vxe-table-column>
	  </vxe-table>
	</div>


	<!--模态框-->
	<div class="modal" data-backdrop="static" id="mymodal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<span class="close" data-dismiss="modal">&times;</span>
					<h3>前台收银</h3>
				</div>
				<div class="modal-body" style="display: flex;justify-content: center;">
					<div>
						<div id="code"></div>
					</div>
				</div>
				<div class="modal-footer">
				</div>
			</div>
		</div>
	</div>


	<!--模态框-->
	<div class="modal fade bs-example-modal-lg" data-backdrop="static" id="mymodal2">
		<div class="modal-dialog" style="width: 100%;height: 100%;">
			<div class="modal-content">
				<div class="modal-header">
					<span class="close" data-dismiss="modal">&times;</span>
					<span style="font-size: 25px;margin-left: 10px;">门店选择</span>
					<input type="text" placeholder="匹配门店编码/门店" id="searchStore" style="margin-left: 65%;width: 150px;height: 33px;">
					<vxe-button  style="margin-left: 10px;" @click="searchStore">
						<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
						搜索
					</vxe-button>
					<vxe-button style="margin-left: 10px;" @click="closeStoreChoose">
						<span class="glyphicon glyphicon-off" aria-hidden="true"></span>	
						关闭
					</vxe-button>
				</div>
				<div class="modal-body">
					<div>
						<div>
							<vxe-button   @click="getSelectEvent"><!-- selSaleByStore -->
								<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>	
								确定
							</vxe-button>
							<vxe-button  style="margin-left: 79%;"@click="$refs.xTable1.setAllCheckboxRow(true)" >
								<span class="glyphicon glyphicon-sort-by-attributes" aria-hidden="true"></span>
								全部选择
							</vxe-button>
							<vxe-button  @click="$refs.xTable1.clearCheckboxRow()">
								<span class="glyphicon glyphicon-sort-by-attributes-alt" aria-hidden="true"></span>
								全部取消
							</vxe-button>
						</div>
						<div class="row">
							<vxe-table
							border
							ref="xTable1"
							:data="storeList"
							@checkbox-all="selectAllEvent"
							auto-resize="true"
							@checkbox-change="selectChangeEvent">
							<vxe-table-column type="checkbox" title="选择"></vxe-table-column>
							<vxe-table-column field="storeId" title="门店代码"></vxe-table-column>
							<vxe-table-column field="storeName" title="门店名称"></vxe-table-column>
							<vxe-table-column field="city" title="所属城市"></vxe-table-column>
							</vxe-table>
						</div>
					</div>

				</div>
				<div class="modal-footer">
				</div>
			</div>
		</div>
	</div>
	
	<div class="modal fade bs-example-modal-lg" id="repairModal"  style="width: 100%;height: 100%;">
		<div class="modal-dialog" style="width: 100%;height: 100%;">
			<div class="modal-content" style="display:inline-block;width: 100%;">
				<div class="modal-header" style="width: 100%;height: 100%;">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title">Modal title</h4>
				</div>
				<div class="modal-body" style="width: 100%;height: 500px;">
					<iframe src="维修单.html"  ref="iframe" frameborder="0" width="100%"
					height="100%" scrolling:no></iframe>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
				</div>
			</div>
		</div>
	</div>
	



	</div>

	<script type="text/javascript" src="js/jquery-1.12.4.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/vue-2.6.js"></script>
	<!--引入-->
	<script src="https://cdn.jsdelivr.net/npm/vue"></script>
	<script src="https://cdn.jsdelivr.net/npm/xe-utils"></script>
	<script src="https://cdn.jsdelivr.net/npm/vxe-table@3.1.4"></script>
	<script src="../yf/js/common.js"></script>
	<script>
		var Main={
			data() {
				return {
					weixin: true,
					zhifubao: false,
					//销售单list
					saleTable: [],
					//被选择的销售单
					chooseSaleTr: {},
					isactive: -1,
					code: "",
					settimebool: true,
					//防止重复提交
					post_flag: false,
					order: {
						orderid: '',
						column1: 0.01,
						column3: 1,
						subject: "DZW结算"
					},
					//销售单查询对象
					saleQuerry:{},
					//业务类型list
					serviceTypeList:[],
					//门店list
					storeList:[],
					storeChecks:[],
					//传输维修单对象
					repair:{}
				}
			},
			methods: {
				//门店选择如果全中则是全选
				selectAllEvent({ checked, records }){
					/* console.log(checked?'所有勾选事件':'所有取消事件',records); */
				},
				//
				selectChangeEvent({ checked, records }){
					/* console.log(checked?'勾选事件':'取消事件',records); */
				},
				//获取选中的门店组
				getSelectEvent(){
					let selectRecords={};
					selectRecords= this.$refs.xTable1.getCheckboxRecords()
					console.log("获取选中的门店筛选");
					this.storeChecks=[];
				  	selectRecords.forEach(item=>{
					  this.storeChecks.push(item.storeId);
				 	 });
					this.selSaleByStore();
				},
				currentChangeEvent (){},
				getSaleCell({row}){
					this.chooseSaleTr=JSON.parse(JSON.stringify(row));
				},
				sy() {
					/* if(this.chooseSaleTr==null||this.chooseSaleTr==""||this.chooseSaleTr==undefined){
						alert("请先单击选择要操作行");
						return;
					} */
					var price = this.chooseSaleTr.settlementMoney;
					if (price == "" || price == null || price == undefined) {
						alert("请先点击要结算的销售单");
						return;
					}
					this.btnFactoryOrder();
					$("#mymodal").modal("show");

				},
				weixin1() {
					this.weixin = true;
					this.zhifubao = false
				},
				zhifubao1() {
					this.weixin = false;
					this.zhifubao = true
				},
				mendian() {
					this.selStoreList();
					$("#mymodal2").modal("show");
				},
				//查询所有的销售单信息
				selAllXiaoShou() {
					let that = this;
					$.ajax({
						url: "http://127.0.0.1:8080/listOfSales/selAll",
						type: "get",
						xhrFields: {
							withCredentials: true
						},
						crossDomain: true,
						async: false,
						dataType: "json",
						success: function (result) {
							console.log(result);
							that.saleTable = result;
							that.selServiceTypeList();
						}
					});
				},
				//选择table某列将数据传入，用于获取销售单信息
				chooseTableTr(item) {
					this.chooseSaleTr = item;
					console.log(this.chooseSaleTr);
				},
				//点击tr背景变色
				fn(index) {
					//点击切换 变量的值 赋值为 index
					this.isactive = index;
				},
				btnFactoryOrder() {
					if (this.post_flag) {
						return;
					}
					this.post_flag = true;
					this.insertOrder();
				},
				pay() {
					let that = this;
					// console.log("http://127.0.0.1:8080//qrcode?totalAmount=" + this.order.totalAmount + "&subject=" + this.order.subject + "&storeId=123456&timeoutExpress=5m&outTradeNo=" + this.order.orderid);
					$.ajax({
						// url: "http://127.0.0.1:8080//qrcode?totalAmount=0.00&subject=支付宝扫码支付测试&storeId=123456&timeoutExpress=5m&outTradeNo=132131313132",
						url: "http://127.0.0.1:8080/dingdan/qrcode?storeId=123456&timeoutExpress=5m&outTradeNo=" + this.order.orderid,
						type: "get",
						xhrFields: {
							withCredentials: true
						},
						crossDomain: true,
						contentType: "application/json;charset=utf-8",
						dataType: "json",
						success: function (result) {
							that.code = result.qr_code;
							// new QRCode(document.getElementById("code"), result.qr_code);
							var qrcode = new QRCode("code", {
								text: result.qr_code,
								width: 256,
								height: 256,
								colorDark: "#000000",
								colorLight: "#ffffff",
								correctLevel: QRCode.CorrectLevel.H
							});
							that.requestPya(that.order.orderid);
						}
					});
				},
				/*给数据库中新增订单*/
				insertOrder() {
					let that = this;
					var price = this.chooseSaleTr.settlementMoney;
					console.log(price);
					this.order.column1 = price;
					console.log(this.order);
					$.ajax({
						url: "http://127.0.0.1:8080/dingdan/factoryorderid",
						type: "post",
						data: that.order,
						xhrFields: {
							withCredentials: true
						},
						crossDomain: true,
						dataType: "json",
						success: function (result) {
							that.post_flag = true;
							if (result.code == "1000") {
								console.log("成功" + result.data);
								that.order.orderid = result.data;
								//生成二维码
								that.pay();
							} else if (result.code == "3000") {
								alert('重新尝试');
							} else if (result.code == "2002") {
								alert('未登录');
							}
						}
					});
				},
				/*
					查询订单当前的支付状态
				*/
				requestPya(orderid) {
					var interval = setInterval(() => {
						let that = this;
						$.ajax({
							url: "http://127.0.0.1:8080/dingdan/findorderid",
							type: "post",
							data: { orderid: orderid },
							xhrFields: {
								withCredentials: true
							},
							crossDomain: true,
							dataType: "json",
							success: function (result) {
								console.log(JSON.stringify(result))
								if (result.code == "1000") {
									if (result.data === 1) {
										console.log("未支付");
									} else if (result.data === 2) {
										clearInterval(interval);
										console.log("支付成功");
										alert('支付成功');
										$("#mymodal").modal("hide");
										that.changeSaleStaus();
										location.reload();
										return;
									} if (result.data === 3) {
										clearInterval(interval);
										console.log("支付超时，二维码失效");
									}
								}
							}
						});
					}, 500);
				},
				//修改销售单状态
				changeSaleStaus() {
					let that = this;
					this.chooseSaleTr.settlementStatus = "已结算";
					this.chooseSaleTr.settlementUser = this.chooseSaleTr.username;
					console.log(this.chooseSaleTr);
					var json = JSON.stringify(this.chooseSaleTr);
					$.ajax({
						url: "http://127.0.0.1:8080/listOfSales/updateListOfSale",
						type: "post",
						data: { json: JSON.stringify(that.chooseSaleTr) },
						xhrFields: {
							withCredentials: true
						},
						crossDomain: true,
						success: function (result) {
							alert(result);
						}
					});
				},
				//多条件查询
				selSalStatusByParse(){
					if(this.saleQuerry.settlementBenginTime>=this.saleQuerry.settlementEndTime){	
						alert("开单结束时间不能前于开单开始时间");
						return;
					}
					let that = this;
					$.ajax({
						url: "http://127.0.0.1:8080/listOfSales/selBy",
						type: "get",
						data: { json: JSON.stringify(that.saleQuerry)},
						xhrFields: {
							withCredentials: true
						},
						crossDomain: true,
						success: function (result) {
							that.saleTable=result;
							that.selServiceTypeList();
						}
					});
				},
				//查询业务类型
				selServiceTypeList(){
					let that = this;
					$.ajax({
						url: "http://127.0.0.1:8080/listOfSales/selAllServiceType",
						type: "get",
						xhrFields: {
							withCredentials: true
						},
						crossDomain: true,
						success: function (result) {
							that.serviceTypeList=result;
						}
					});
				},
				//查询所有的门店
				selStoreList(){
					let that = this;
					$.ajax({
						url: "http://127.0.0.1:8080/store",
						type: "get",
						xhrFields: {
							withCredentials: true
						},
						crossDomain: true,
						success: function (result) {
							that.storeList=result;
						}
					});
				},
				//全选门店或者全部取消
				checkAllStore(c){
					if(!c){
						 alert("取消全选");
						 this.storeChecks=[];
					}else{
						alert("全选");
						this.storeChecks= this.storeList.map(item=>item.storeId);
					}
				},
				//按条件查询门店
				searchStore(){
					var parse = $("#searchStore").val();
					if(parse==null||parse==''){
						this.selStoreList();
						return;
					}
					let that=this;
					$.ajax({
						url:"http://127.0.0.1:8080/store/selStoreFuzzy/"+parse,
						dataType:"json",
						type:"get",
						xhrFields: {
							withCredentials: true
						},
						crossDomain: true,
						async:false,
						success:function(result){
							console.log(result);
							that.storeList=result;
							console.log(that.storeList);
						}
					});
				},
				//关闭门店模态框
				closeStoreChoose(){
					$("#mymodal2").modal("hide");
				},		
			  //根据门店查询销售单记录
			  selSaleByStore(){
				/* alert("11111"); */
				let that=this;
					$.ajax({
						url:"http://127.0.0.1:8080/listOfSales/selByStore",
						data:JSON.stringify(that.storeChecks),
						dataType:"json",
						type:"post",
						xhrFields: {
							withCredentials: true
						},
						crossDomain: true,
						async:false,
						contentType:"application/json;charset=utf-8",
						success:function(result){
							console.log(result);
							that.saleTable=result;
							$("#mymodal2").modal("hide");
						}
					});
			  },
			  //显示维修单模态框
			  showRepair(){
				if(this.chooseSaleTr.column1==""||this.chooseSaleTr.column1==null||this.chooseSaleTr.column1==undefined){
					alert("请选择要操作的行");
					return;
				  }
				$("#repairModal").modal("show");
				 //像子页面传值
				 this.iframe = this.$refs.iframe;
                 this.iframeWindow = this.iframe.contentWindow;
				 this.repair.serNumber=this.chooseSaleTr.column1;
				 this.repair.setButtonStatus=2;
				 this.repair.jsLogo=true;
				 message = {
                    aa: 'jiesuan',
                    val: this.repair,
                    }
                this.iframeWindow.postMessage(message, '*');
			  },
			  //导出
			  daochu(){
					var eList=[];
					this.saleTable.forEach(
						item=>{eList.push(item.salesOrder);
					});
					console.log(eList);
					var lzList=eList.toString();
					alert(lzList);
					window.location.href="http://127.0.0.1:8080/listOfSales/downLoadExportExcel?lzList="+List;
			  }

			},
			created() {
				this.chooseSaleTr = {};
				this.selAllXiaoShou();
			}
		};
		var Ctor = Vue.extend(Main);
		new Ctor().$mount('#ctn');
		VXETable.formats.mixin({
					// 格式化性别
					formatSex({ cellValue }) {
						return cellValue ? (cellValue === '1' ? '男' : '女') : ''
					},
					formatCarStatus({ cellValue }) {
						if(cellValue === 0) {
							return "接车";
						} else if(cellValue === 1) {
							return "作业中"
						} else if(cellValue === 2) {
							return "完工"
						} else {
							return "-"
						}
					},
					formatNull({ cellValue }) {
						return cellValue ? cellValue : '-'
					},
					// 格式化下拉选项
					formatSelect({ cellValue }, list) {
						const item = list.find(item => item.value === cellValue)
						return item ? item.label : ''
					},
					// 格式化日期，默认 yyyy-MM-dd HH:mm:ss
					formatDate({ cellValue }, format) {
						return XEUtils.toDateString(cellValue, format || 'yyyy-MM-dd HH:mm:ss')
					},
					// 四舍五入金额，每隔3位逗号分隔，默认2位数
					formatAmount({ cellValue }, digits = 2) {
						return XEUtils.commafy(XEUtils.toNumber(cellValue), { digits })
					},
					// 格式化银行卡，默认每4位空格隔开
					formatBankcard({ cellValue }) {
						return XEUtils.commafy(XEUtils.toString(cellValue), { spaceNumber: 4, separator: ' ' })
					},
					// 四舍五入,默认两位数
					formatFixedNumber({ cellValue }, digits = 2) {
						return XEUtils.toFixed(XEUtils.round(cellValue, digits), digits)
					},
					// 向下舍入,默认两位数
					formatCutNumber({ cellValue }, digits = 2) {
						return XEUtils.toFixed(XEUtils.floor(cellValue, digits), digits)
					},
					// 转换 moment 类型为字符串
					toMomentString({ cellValue }, format) {
						return cellValue ? cellValue.format(format) : ''
					}
				})
	</script>
</body>

</html>