<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>结算中心</title>
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
		<style>
			.bg {
  			  background-color:red;
  			}
		</style>
	</head>
	<body>
		<div id="ctn" class="container-fluid">
			<div class="row" style="background-color: rgb(247,255,255);display: flex; align-items: center;height: 50px;">
				<span style="font-size: 25px;margin-left: 20px;">结算中心</span>
				<button class="btn btn-success" style="margin-left: 83%;">查询</button>
				<button class="btn" style="margin-left: 10px;">关闭</button>
			</div>
			<div class="row" style="background-color: rgb(247,247,247);height: 40px;"></div>
			<div class="row" style="border-top: 1px solid rgb(33,182,206);">
				<form class="form-inline">
					<div style="margin-top: 10px;">
						<div class="form-group" style="margin-left: 35px;">
						  <label for="exampleInputName2" style="color: rgb(33,182,206);">开单日期</label>
						  <input type="date" class="form-control" id="exampleInputName2"  style="width: 150px;">
							<input type="date" class="form-control" id="exampleInputName2"  style="width: 150px;">
						</div>
						<div class="form-group" style="margin-left: 10px;">
						  <label for="exampleInputEmail2" style="color: rgb(33,182,206);">销售单号</label>
						  <input type="text" class="form-control" id="exampleInputEmail2"  style="width: 120px;">
						</div>
						<div class="form-group" style="margin-left: 10px;">
						  <label for="exampleInputEmail2" style="color: rgb(33,182,206);">结算状态</label>
						  <input type="text" class="form-control" id="exampleInputEmail2"  style="width: 120px;">
						</div>
						<div class="form-group" style="margin-left: 10px;">
						  <label for="exampleInputEmail2" style="color: rgb(33,182,206);">车牌号</label>
						  <input type="text" class="form-control" id="exampleInputEmail2"  style="width: 150px;">
						</div>
					</div>
				  
					<div style="margin-top: 10px;margin-bottom: 10px;">
						<div class="form-group" style="margin-left: 34px;">
								  <label for="exampleInputEmail2" style="color: rgb(33,182,206);">客户名称</label>
									<select name="" class="form-control" id="exampleInputEmail2" style="width: 150px;">
										<option value=""></option>
										<option value=""></option>
									</select>
								</div>
								<div class="form-group" style="margin-left: 10px;">
								  <label for="exampleInputEmail2" style="color: rgb(33,182,206);">服务顾问</label>
									<select name="" class="form-control" id="exampleInputEmail2" style="width: 150px;">
										<option value=""></option>
										<option value=""></option>
									</select>
								</div>
								<div class="form-group" style="margin-left: 10px;">
								  <label for="exampleInputEmail2" style="color: rgb(33,182,206);">业务类型</label>
									<select name="" class="form-control" id="exampleInputEmail2" style="width: 150px;">
										<option value=""></option>
										<option value=""></option>
									</select>
								</div>
								<div class="form-group" style="margin-left: 10px;">
								  <label for="exampleInputEmail2" style="color: rgb(33,182,206);">单据类型</label>
									<select name="" class="form-control" id="exampleInputEmail2" style="width: 150px;">
										<option value=""></option>
										<option value=""></option>
									</select>
								</div>
								<div class="form-group" style="margin-left: 10px;">
								  <label for="exampleInputEmail2" style="color: rgb(33,182,206);">备注</label>
									<input type="text" class="form-control" id="exampleInputEmail2"  style="width: 150px;">
								</div>
							</form>
						</div>
					</div>
					
			
			<div class="row" style="height: 40px;background-color: rgb(247,247,247);display: flex; align-items: center;">
				<a href="#" style="font-size: 20px;color: black;margin-left: 20px;" @click="mendian()"><img src="img/513d2798454719071e0f1ae34102d3fc.jpeg" style="width: 20px;margin-right: 6px;">门店选择</a>
				<a href="#" style="font-size: 20px;color: black;margin-left: 66.5%;"  @click="sy()"><img src="img/033bc0f8ab625ceafdcfee32af9fbd67.jpeg" style="width: 20px;margin-right: 6px;">收银</a>
				<a href="维修单.html" style="font-size: 20px;color: black;margin-left: 100px;"><img src="img/9c7fd9b4fd5666dcda308b03c648bcb3.jpeg" style="width: 20px;margin-right:6px;">打开单据</a>
				<a href="#" style="font-size: 20px;color: black;margin-left: 35px;"><img src="img/9c7fd9b4fd5666dcda308b03c648bcb3.jpeg" style="width: 20px;margin-right: 6px;" >导出</a>
			</div>
			
			<div class="row">
				<table class="table table-bordered table-striped table-hover">
					<tr style="background-color: rgb(33,182,206); color: white;">
						<td>销售单号</td>
						<td>单据类型</td>
						<td>结算方式</td>
						<td>单据状态</td>
						<td>结算状态</td>
						<td>结算时间</td>
						<td>结算人</td>
						<td>结算金额</td>
						<td>业务类型</td>
						<td>客户名称</td>
						<td>车牌号</td>
						<td>车型</td>
						<td>车架号</td>
						<td>联系电话</td>
						<td>保险公司</td>
						<td>赔款公司</td>
						<td>对方车牌</td>
						<td>服务顾问</td>
						<td>完工时间</td>
						<td>备注</td>
					</tr>
						<tr v-for="(item,index) in saleTable" :class='{bg:index==isactive}' @click="fn(index)">
							<td v-text="item.salesOrder" @click="chooseTableTr(item)"></td>
							<td  v-if="item.billsType" v-text="item.billsType" @click="chooseTableTr(item)"></td>
							<td v-else @click="chooseTableTr(item)"></td>
							<td v-if="item.balance" v-text="item.balance" @click="chooseTableTr(item)"></td>
							<td v-else @click="chooseTableTr(item)"></td>
							<td v-if="item.billstatus" v-text="item.billstatus" @click="chooseTableTr(item)"></td>
							<td v-else @click="chooseTableTr(item)"></td>
							<td v-if="item.settlementStatus" v-text="item.settlementStatus" @click="chooseTableTr(item)"></td>
							<td v-else @click="chooseTableTr(item)"></td>
							<td v-if="item.settlementTime" v-text="item.settlementTime" @click="chooseTableTr(item)"></td>
							<td v-else @click="chooseTableTr(item)"></td>
							<td v-if="item.settlementUser" v-text="item.settlementUser" @click="chooseTableTr(item)"></td>
							<td v-else @click="chooseTableTr(item)"></td>
							<td v-if="item.settlementMoney" v-text="item.settlementMoney" @click="chooseTableTr(item)"></td>
							<td v-else @click="chooseTableTr(item)"></td>
							<td v-if="item.serviceType" v-text="item.serviceType" @click="chooseTableTr(item)"></td>
							<td v-else @click="chooseTableTr(item)"></td>
							<td v-if="item.username" v-text="item.username" @click="chooseTableTr(item)"></td>
							<td v-else @click="chooseTableTr(item)"></td>
							<td v-if="item.plateNumber" v-text="item.plateNumber" @click="chooseTableTr(item)"></td>
							<td v-else @click="chooseTableTr(item)"></td>
							<td v-if="item.motorcycleType" v-text="item.motorcycleType" @click="chooseTableTr(item)"></td>
							<td v-else @click="chooseTableTr(item)"></td>
							<td v-if="item.frame" v-text="item.frame" @click="chooseTableTr(item)"></td>
							<td v-else @click="chooseTableTr(item)"></td>
							<td v-if="item.phone" v-text="item.phone" @click="chooseTableTr(item)"></td>
							<td v-else @click="chooseTableTr(item)"></td>
							<td v-if="item.insurer" v-text="item.insurer" @click="chooseTableTr(item)"></td>
							<td v-else @click="chooseTableTr(item)"></td>
							<td v-if="item.indemnityCompany" v-text="item.indemnityCompany" @click="chooseTableTr(item)"></td>
							<td v-else @click="chooseTableTr(item)"></td>
							<td v-if="item.licensePlate" v-text="item.licensePlate" @click="chooseTableTr(item)"></td>
							<td v-else @click="chooseTableTr(item)"></td>
							<td v-if="item.serviceAdviser" v-text="item.serviceAdviser" @click="chooseTableTr(item)"></td>
							<td v-else @click="chooseTableTr(item)"></td>
							<td v-if="item.completionTime" v-text="item.completionTime" @click="chooseTableTr(item)"></td>
							<td v-else @click="chooseTableTr(item)"></td>
							<td v-if="item.remarks" v-text="item.remarks" @click="chooseTableTr(item)"></td>
							<td v-else @click="chooseTableTr(item)"></td>
						</tr>
					
				</table>
			</div>
			
			
			<!--模态框-->
			<div class="modal" data-backdrop="static" id="mymodal">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<span class="close" data-dismiss="modal">&times;</span>
							<h3>前台收银</h3>
						</div>
						<div class="modal-body" style="display: flex;justify-content: center;">
								<!-- <div>
									支付方式：<button class="btn btn-default" @click="weixin1()">微信</button><button @click="zhifubao1()" class="btn btn-default" style="margin-left:30px" >支付宝</button>
									<div v-if="weixin">
										<img src="img/微信图片_20210126113650.png" >
									</div>
									<div v-if="zhifubao">
										<img src="img/微信图片_20210126113715.png" >
									</div>
								</div> -->
								<div id="code"></div>
						</div>
						<div class="modal-footer">
						</div>
					</div>
				</div>
			</div>
			
			
			<!--模态框-->
			<div class="modal" data-backdrop="static" id="mymodal2">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<span class="close" data-dismiss="modal">&times;</span>
							<span style="font-size: 25px;margin-left: 10px;">班组技工</span>
							<input type="text" placeholder="匹配工号/姓名/手机" style="margin-left: 25%;width: 150px;height: 33px;">
							<button class="btn btn-primary" style="margin-left: 10px;">搜索</button>
							<button class="btn"  style="margin-left: 10px;">关闭</button>		
						</div>
						<div class="modal-body">
								<div class="container-fluid">
									<div class="row">
										<button class="btn btn-success">确定</button>
										<button class="btn btn-default" style="margin-left: 60%;">全部选择</button>
										<button class="btn btn-default">全部取消</button>
									</div>
									<div class="row">
										<table class="table table-bordered table-striped table-hover">
											<tr style="background-color: rgb(33,182,206); color: white;">
												<td>选择</td>
												<td>门店代码</td>
												<td>门店名称</td>
												<td>所在城市</td>
											</tr>
											<tr>
												<td><input type="checkbox"></td>
												<td>00000</td>
												<td>总厂</td>
												<td>北京市</td>
											</tr>
											<tr>
												<td><input type="checkbox"></td>
												<td>00001</td>
												<td>成高卡修</td>
												<td>天津市</td>
											</tr>
											<tr>
												<td><input type="checkbox"></td>
												<td>00002</td>
												<td>ddm</td>
												<td>天津市</td>
											</tr>
											<tr>
												<td><input type="checkbox"></td>
												<td>00003</td>
												<td>机电组</td>
												<td></td>
											</tr>
											<tr>
												<td><input type="checkbox"></td>
												<td>00004</td>
												<td>11</td>
												<td></td>
											</tr>
										</table>
									</div>
								</div>
								
						</div>
						<div class="modal-footer">
						</div>
					</div>
				</div>
			</div>
			
			
			
			
		</div>
		
		<script src="js/jquery-1.12.4.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/vue-2.6.js"></script>
		<script>
			new Vue({
				el:"#ctn",
				data(){
					return {
						weixin:true,
						zhifubao:false,
						//销售单list
						saleTable:[],
						//被选择的销售单
						chooseSaleTr:{},
						isactive:0,
						code: "",
						settimebool: true,
						//防止重复提交
						post_flag: false,
						order: {
							orderid: '',
							column1: 0.01,
							column3: 1,
							subject: "DZW结算"
						}
					}
				},
				methods:{
					sy(){
						/* if(this.chooseSaleTr==null||this.chooseSaleTr==""||this.chooseSaleTr==undefined){
							alert("请先单击选择要操作行");
							return;
						} */
						$("#mymodal").modal("show");
						
					},
					weixin1(){
						this.weixin = true;
						this.zhifubao = false
					},
					zhifubao1(){
						this.weixin = false;
						this.zhifubao = true
					},
					mendian(){
						$("#mymodal2").modal("show");
					},
					//查询所有的销售单信息
					selAllXiaoShou(){
						let that=this;
						$.ajax({
							url:"http://127.0.0.1:8080/listOfSales/selAll",
							type:"get",
							xhrFields: {
								withCredentials: true
							},
							crossDomain: true,
							async:false,
							dataType:"json",
							success:function(result){
								that.saleTable=result;
							}
						});
					},
					//选择table某列将数据传入，用于获取销售单信息
                    chooseTableTr(item){
                    	this.chooseSaleTr=item;
                    	console.log(this.chooseSaleTr);
                    },
					//点击tr背景变色
                    fn (index) {
					      //点击切换 变量的值 赋值为 index
					      this.isactive=index;
					},
					btnFactoryOrder() {
                    if (this.post_flag) {
                        return;
                    }
                    this.post_flag = true;
                    this.insertOrder();
                },
                pay() {
                    let that = this;
                    // console.log("http://127.0.0.1:8080//qrcode?totalAmount=" + this.order.totalAmount + "&subject=" + this.order.subject + "&storeId=123456&timeoutExpress=5m&outTradeNo=" + this.order.orderid);
                    $.ajax({
                        // url: "http://127.0.0.1:8080//qrcode?totalAmount=0.00&subject=支付宝扫码支付测试&storeId=123456&timeoutExpress=5m&outTradeNo=132131313132",
                        url: "http://127.0.0.1:8080/dingdan/qrcode?storeId=123456&timeoutExpress=5m&outTradeNo=" + this.order.orderid,
                        type: "get",
                        xhrFields: {
                            withCredentials: true
                        },
                        crossDomain: true,
                        contentType: "application/json;charset=utf-8",
                        dataType: "json",
                        success: function (result) {
                            that.code = result.qr_code;
                            // new QRCode(document.getElementById("code"), result.qr_code);
                            var qrcode = new QRCode("code", {
                                text: result.qr_code,
                                width: 128,
                                height: 128,
                                colorDark: "#000000",
                                colorLight: "#ffffff",
                                correctLevel: QRCode.CorrectLevel.H
                            });
                            that.requestPya(that.order.orderid);
                        }
                    });
                },
                /*给数据库中新增订单*/
                insertOrder() {
                    let that = this;
                    $.ajax({
                        url: "http://127.0.0.1:8080/dingdan/factoryorderid",
                        type: "post",
                        data: that.order,
                        xhrFields: {
                            withCredentials: true
                        },
                        crossDomain: true,
                        dataType: "json",
                        success: function (result) {
                            that.post_flag = true;
                            if (result.code == "1000") {
                                console.log("成功" + result.data);
                                that.order.orderid = result.data;
                                //生成二维码
                                that.pay();
                            } else if (result.code == "3000") {
                                alert('重新尝试');
                            } else if (result.code == "2002") {
                                alert('未登录');
                            }
                        }
                    });
                },
                /*
                    查询订单当前的支付状态
                */
                requestPya(orderid) {
                    var interval = setInterval(() => {
                        let that = this;
                        $.ajax({
                            url: "http://127.0.0.1:8080/dingdan/findorderid",
                            type: "post",
                            data: { orderid: orderid },
                            xhrFields: {
                                withCredentials: true
                            },
                            crossDomain: true,
                            dataType: "json",
                            success: function (result) {
                                console.log(JSON.stringify(result))
                                if (result.code == "1000") {
                                    if (result.data === 1) {
                                        console.log("未支付");
                                    } else if (result.data === 2) {
                                        clearInterval(interval);
                                        console.log("支付成功");
                                        return;
                                    } if (result.data === 3) {
                                        clearInterval(interval);
                                        console.log("支付超时，二维码失效");
                                    }
                                }
                            }
                        });
                    }, 500);
				},
				created(){
					this.selAllXiaoShou();
				}
			})
		</script>
	</body>
</html>