.btndiv{
    margin-left: 0px;
}

.btndiv>button{
    margin: 0px 5px;
}

.row>div{
    padding-right: 0px;
    padding-left: 0px;
}

.countn{
    line-height: 30px;
    font-size: 16px;
    color: #606266;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Helvetica Neue,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
}