<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.accp.mapper.AcquisitionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.accp.domain.Acquisition">
        <id column="ac_id" property="acId" />
        <result column="ac_repairid" property="acRepairid" />
        <result column="ac_time" property="acTime" />
        <result column="ac_goods" property="acGoods" />
        <result column="column1" property="column1" />
        <result column="column2" property="column2" />
        <result column="column3" property="column3" />
        <result column="ac_people" property="acPeople" />
        <result column="ac_number" property="acNumber" />
        <result column="ac_sumPrice" property="acSumprice" />
        <result column="ac_serviceAdvice" property="acServiceadvice" />
        <result column="ac_miandan" property="acMiandan" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ac_id, ac_repairid, ac_time, ac_goods, column1, column2, column3, ac_people, ac_number, ac_sumPrice, ac_serviceAdvice, ac_miandan
    </sql>
    <resultMap id="BaseResultMap1" type="com.accp.domain.Acquisition" extends="BaseResultMap">
        <!--<association property="goods" column="acGoods" select="" ></association>-->
        <association property="servicingproject" column="acRepairid" select="com.accp.mapper.ServicingprojectMapper.selByServicingProjectId"></association>
    </resultMap>
    <select id="selByArray" resultMap="BaseResultMap1">
         SELECT * FROM acquisition
         <where>
             ac_repairid in
             <foreach collection="array" item="item" open="(" close=")" separator=",">
                 #{item}
             </foreach>
         </where>
    </select>
</mapper>
