<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.accp.mapper.DepartmentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.accp.domain.Department">
        <id column="dId" property="dId" />
        <result column="dName" property="dName" />
        <result column="tId" property="tId" />
        <result column="sId" property="sId" />
        <result column="column1" property="column1" />
        <result column="column2" property="column2" />
        <result column="column3" property="column3" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        dId, dName, tId, sId, column1, column2, column3
    </sql>
    <select id="selById" resultMap="BaseResultMap">
        SELECT * FROM department WHERE `dId`=#{dId}
    </select>
    <!--根据门店查询部门相关信息-->
    <resultMap id="BaseResultMap1" type="com.accp.domain.Department" extends="BaseResultMap">
        <association property="departmentType" column="tId" select="com.accp.mapper.DepartmenttypeMapper.selById"></association>
    </resultMap>
    <select id="selBySid" resultMap="BaseResultMap1">
            SELECT * FROM department WHERE sId=#{sId}
    </select>
</mapper>
