<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.accp.mapper.DepartureMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.accp.domain.Departure">
        <id column="id" property="id" />
        <result column="eId" property="eId" />
        <result column="dismissDate" property="dismissDate" />
        <result column="dismissReason" property="dismissReason" />
        <result column="registId" property="registId" />
        <result column="sex" property="sex" />
        <result column="dId" property="dId" />
        <result column="sId" property="sId" />
        <result column="name" property="name" />
        <result column="jobId" property="jobId" />
        <result column="column1" property="column1" />
        <result column="column2" property="column2" />
        <result column="column3" property="column3" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, eId, dismissDate, dismissReason, registId, sex, dId, sId, name, jobId, column1, column2, column3
    </sql>

    <!--查询所有离职记录-->
    <resultMap id="BaseResultMap1" type="com.accp.domain.Departure" extends="BaseResultMap">
        <association property="store" select="com.accp.mapper.StoreMapper.selById" column="sId"></association>
        <association property="department" select="com.accp.mapper.DepartmentMapper.selById" column="dId"></association>
        <association property="job" select="com.accp.mapper.JobMapper.selById" column="jobId"></association>
    </resultMap>
    <select id="selAllDeparture" resultMap="BaseResultMap1">
            SELECT * FROM departure
    </select>
    <!--根据门店筛选-->
    <select id="selBySid" resultMap="BaseResultMap1">
            SELECT * FROM departure
            <where>
                sId in
                <foreach collection="array" open="(" close=")" separator="," item="item">
                    #{item}
                </foreach>
            </where>
    </select>
    <!--根据工号或者姓名模糊查询-->
    <select id="selectByEidOrName" resultMap="BaseResultMap1">
        SELECT * FROM departure WHERE eId LIKE concat( '%',#{parse},'%') OR `name` LIKE concat( '%',#{parse},'%')
    </select>
    <!--查询搜索model查询-->
    <select id="selBySearch" resultMap="BaseResultMap1" parameterType="com.accp.domain.Departure">
            SELECT * FROM departure
            <where>
                <if test="eId!=null and eId!=''">
                    eId=#{eId}
                </if>
                <if test="name!=null and name!=''">
                    name=#{name}
                </if>
                <if test="sex!=null and sex!=''">
                    sex=#{sex}
                </if>
                <if test="dId!=null and dId!=''">
                    dId=#{dId}
                </if>
                <if test="jobId!=null and jobId!=''">
                    jobId=#{jobId}
                </if>
            </where>
    </select>
</mapper>
