<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.accp.mapper.EmployeesMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.accp.domain.Employees">
        <id column="eId" property="eId" />
        <result column="eName" property="eName" />
        <result column="sexId" property="sexId" />
        <result column="mId" property="mId" />
        <result column="dId" property="dId" />
        <result column="login" property="login" />
        <result column="jId" property="jId" />
        <result column="health" property="health" />
        <result column="height" property="height" />
        <result column="nplaceId" property="nplaceId" />
        <result column="nationalId" property="nationalId" />
        <result column="marryId" property="marryId" />
        <result column="educationId" property="educationId" />
        <result column="schoolId" property="schoolId" />
        <result column="majorId" property="majorId" />
        <result column="PQId" property="PQId" />
        <result column="attId" property="attId" />
        <result column="degreeId" property="degreeId" />
        <result column="establish" property="establish" />
        <result column="cardId" property="cardId" />
        <result column="hAddress" property="hAddress" />
        <result column="nAddress" property="nAddress" />
        <result column="tel" property="tel" />
        <result column="phone" property="phone" />
        <result column="email" property="email" />
        <result column="bankId" property="bankId" />
        <result column="bankAccount" property="bankAccount" />
        <result column="contacts" property="contacts" />
        <result column="cphone" property="cphone" />
        <result column="entryDate" property="entryDate" />
        <result column="proDate" property="proDate" />
        <result column="birth" property="birth" />
        <result column="pactBegin" property="pactBegin" />
        <result column="pactEnd" property="pactEnd" />
        <result column="kzId" property="kzId" />
        <result column="knId" property="knId" />
        <result column="referrer" property="referrer" />
        <result column="billDiscount" property="billDiscount" />
        <result column="hourDiscount" property="hourDiscount" />
        <result column="shopDiscount" property="shopDiscount" />
        <result column="relief" property="relief" />
        <result column="dismission" property="dismission" />
        <result column="pwd" property="pwd" />
        <result column="img" property="img" />
        <result column="educationBackground" property="educationBackground" />
        <result column="jiangFa" property="jiangFa" />
        <result column="hire" property="hire" />
        <result column="resume" property="resume" />
        <result column="family" property="family" />
        <result column="extension" property="extension" />
        <result column="direct" property="direct" />
        <result column="column1" property="column1" />
        <result column="column2" property="column2" />
        <result column="column3" property="column3" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        eId, eName, sexId, mId, dId, login, jId, health, height, nplaceId, nationalId, marryId, educationId, schoolId, majorId, PQId, attId, degreeId, establish, cardId, hAddress, nAddress, tel, phone, email, bankId, bankAccount, contacts, cphone, entryDate, proDate, birth, pactBegin, pactEnd, kzId, knId, referrer, billDiscount, hourDiscount, shopDiscount, relief, dismission, pwd, img, educationBackground, jiangFa, hire, resume, family, extension, direct, column1, column2, column3
    </sql>

    <resultMap id="BaseResultMap1" type="com.accp.domain.Employees" extends="BaseResultMap">
        <association property="sex" column="sexId" select="com.accp.mapper.SexMapper.selById"></association>
        <association property="store" column="mId" select="com.accp.mapper.StoreMapper.selById"></association>
        <association property="department" column="dId" select="com.accp.mapper.DepartmentMapper.selById"></association>
        <association property="job" column="jId" select="com.accp.mapper.JobMapper.selById"></association>
        <association property="nativeplace" column="nplaceId" select="com.accp.mapper.NativeplaceMapper.selById"></association>
        <association property="national" column="nationalId" select="com.accp.mapper.NationalMapper.selById"></association>
        <association property="marry" column="marryId" select="com.accp.mapper.MarryMapper.selById"></association>
        <association property="education" column="educationId" select="com.accp.mapper.EducationMapper.selById"></association>
        <association property="school" column="schoolId" select="com.accp.mapper.SchoolMapper.selById"></association>
        <association property="major" column="majorId" select="com.accp.mapper.MajorMapper.selById"></association>
        <association property="pq" column="PQId" select="com.accp.mapper.PqMapper.selById"></association>
        <association property="nature" column="attId" select="com.accp.mapper.NatureMapper.selById"></association>
        <association property="degree" column="degreeId" select="com.accp.mapper.DegreeMapper.selById"></association>
        <association property="bank" column="bankId" select="com.accp.mapper.BankMapper.selById"></association>
    </resultMap>
    <!--查询全部员工-->
    <select id="selInfo" resultMap="BaseResultMap1">
        SELECT * FROM employees where dismission=0
    </select>
    <!--多条件查询员工-->
    <select id="selByManyConditions" resultMap="BaseResultMap1" parameterType="com.accp.domain.EmployeesQuery">
         SELECT * FROM employees
         <where>
             <if test="eId!=null and eId!=''">
                 and eId=#{eId}
             </if>
             <if test="eName!=null and eName!=''">
                and eName concat('%',#{eName},'%')
             </if>
             <if test="sexId!=null and sexId!=''">
                and sexId=#{sexId}
             </if>
             <if test="jId!=null and jId!=''">
                and jId=#{jId}
             </if>
             <if test="dId!=null and dId!=''">
                and dId=#{dId}
             </if>
             <if test="health!=null and health!=''">
                and health=#{health}
             </if>
             <if test="height!=null and height!=''">
                 and height=#{height}
             </if>
             <if test="nplaceId!=null and nplaceId!=''">
                 and nplaceId=#{nplaceId}
             </if>
             <if test="nationalId!=null and nationalId!=''">
                and nationalId=#{nationalId}
             </if>
             <if test="marryId!=null and marryId!=''">
                and marryId=#{marryId}
             </if>
             <if test="educationId!=null and educationId!=''">
                and educationId=#{educationId}
             </if>
             <if test="schoolId!=null and schoolId !=''">
                and schoolId=#{schoolId}
             </if>
             <if test="majorId!=null and majorId!=''">
                and majorId=#{majorId}
             </if>
             <if test="PQId!=null and PQId!=''">
                and PQId=#{PQId}
             </if>
             <if test="birth!=null and birth!=''">
                and birth=#{birth}
             </if>
             <if test="degreeId!=null and degreeId!=''">
                and degreeId=#{degreeId}
             </if>
             <if test="establish!=null and establish!=''">
                and establish=#{establish}
             </if>
             <if test="cardId!=null and cardId!=''">
                and cardId=#{cardId}
             </if>
             <if test="entryDateStart!=null and entryDateStart!=''">
                and entryDate &gt;=#{entryDateStart}
             </if>
             <if test="entryDateEnd!=null and entryDateEnd!=''">
                and entryDate &lt;=#{entryDateEnd}
             </if>
             <if test="proDateStart!=null and proDateStart!=''">
                and proDate &gt;=#{proDateStart}
             </if>
             <if test="proDateEnd!=null and proDateEnd!=''">
                 and proDate &lt;=#{proDateEnd}
             </if>
             <if test="attId!=null and attId!=''">
                 and attId=#{attId}
             </if>
             <if test="pactBegin!=null and pactBegin!=''">
                and pactBegin=#{pactBegin}
             </if>
             <if test="pactEnd!=null and pactEnd!=''">
                and pactEnd=#{pactEnd}
             </if>
             and dismission=0
         </where>
    </select>
    <!--匹配工号/姓名/手机-->
    <select id="selByParse" resultMap="BaseResultMap1">
        SELECT * FROM employees WHERE  dismission=0 and (eId like concat( '%',#{parse},'%') OR eName like concat( '%',#{parse},'%') OR phone like concat( '%',#{parse},'%'))
    </select>
    <!--置空员工密码-->
    <update id="clearEmployeePwd">
        UPDATE employees SET pwd=NULL WHERE eId=#{eId}
    </update>
    <!--根据不同门店查询该门店下的员工-->
    <select id="selByMid" resultMap="BaseResultMap1">
        SELECT * FROM employees WHERE `mId`=#{mId} and  dismission=0
    </select>
    <!--根据不同门店查询该门店下不同部门的员工-->
    <select id="selEmployByMidAndDid" parameterType="com.accp.domain.Employees" resultMap="BaseResultMap1">
        SELECT * FROM employees
        <where>
            <if test="mId!=null and mId!=''">
                and mId=#{mId}
            </if>
            <if test="dId!=null and dId!=''">
                and dId=#{dId}
            </if>
            and  dismission=0
        </where>
    </select>
    <!--员工离职登记-->
    <update id="madeFire">
        UPDATE employees SET dismission =1 WHERE eId=#{eId}
    </update>
    <!--员工离职回滚-->
    <update id="madeAssume">
        UPDATE employees SET dismission =0 WHERE eId=#{eId}
    </update>
    <!--导出员工list-->
    <select id="selDownLoadEmployList" resultMap="BaseResultMap1">
        SELECT * FROM employees
        <where>
            eId in
            <foreach collection="array" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </where>
        and  dismission=0
    </select>
    <!--导出通讯名录lsit-->
    <select id="selDownLoadCommunicationList" resultMap="BaseResultMap1">
        SELECT * FROM employees
        <where>
            eId in
            <foreach collection="array" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </where>
        and  dismission=0
    </select>
</mapper>
