<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.accp.mapper.EmployeesMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.accp.domain.Employees">
        <id column="eId" property="eId" />
        <result column="eName" property="eName" />
        <result column="sexId" property="sexId" />
        <result column="mId" property="mId" />
        <result column="dId" property="dId" />
        <result column="login" property="login" />
        <result column="jId" property="jId" />
        <result column="health" property="health" />
        <result column="height" property="height" />
        <result column="nplaceId" property="nplaceId" />
        <result column="nationalId" property="nationalId" />
        <result column="marryId" property="marryId" />
        <result column="educationId" property="educationId" />
        <result column="schoolId" property="schoolId" />
        <result column="majorId" property="majorId" />
        <result column="PQId" property="PQId" />
        <result column="attId" property="attId" />
        <result column="degreeId" property="degreeId" />
        <result column="establish" property="establish" />
        <result column="cardId" property="cardId" />
        <result column="hAddress" property="hAddress" />
        <result column="nAddress" property="nAddress" />
        <result column="tel" property="tel" />
        <result column="phone" property="phone" />
        <result column="email" property="email" />
        <result column="bankId" property="bankId" />
        <result column="bankAccount" property="bankAccount" />
        <result column="contacts" property="contacts" />
        <result column="cphone" property="cphone" />
        <result column="entryDate" property="entryDate" />
        <result column="proDate" property="proDate" />
        <result column="birth" property="birth" />
        <result column="pactBegin" property="pactBegin" />
        <result column="pactEnd" property="pactEnd" />
        <result column="kzId" property="kzId" />
        <result column="knId" property="knId" />
        <result column="referrer" property="referrer" />
        <result column="billDiscount" property="billDiscount" />
        <result column="hourDiscount" property="hourDiscount" />
        <result column="shopDiscount" property="shopDiscount" />
        <result column="relief" property="relief" />
        <result column="dismission" property="dismission" />
        <result column="pwd" property="pwd" />
        <result column="img" property="img" />
        <result column="educationBackground" property="educationBackground" />
        <result column="jiangFa" property="jiangFa" />
        <result column="hire" property="hire" />
        <result column="resume" property="resume" />
        <result column="family" property="family" />
        <result column="extension" property="extension" />
        <result column="direct" property="direct" />
        <result column="column1" property="column1" />
        <result column="column2" property="column2" />
        <result column="column3" property="column3" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        eId, eName, sexId, mId, dId, login, jId, health, height, nplaceId, nationalId, marryId, educationId, schoolId, majorId, PQId, attId, degreeId, establish, cardId, hAddress, nAddress, tel, phone, email, bankId, bankAccount, contacts, cphone, entryDate, proDate, birth, pactBegin, pactEnd, kzId, knId, referrer, billDiscount, hourDiscount, shopDiscount, relief, dismission, pwd, img, educationBackground, jiangFa, hire, resume, family, extension, direct, column1, column2, column3
    </sql>

</mapper>
