<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.accp.mapper.GoodsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.accp.domain.Goods">
        <id column="good_auto_id" property="goodsAutoId" />
        <result column="goods_id" property="goodsId" />
        <result column="goods_name" property="goodsName" />
        <result column="gb_id" property="gbId" />
        <result column="engine_type" property="engineType" />
        <result column="Unit" property="Unit" />
        <result column="goods_c_id" property="goodsCId" />
        <result column="i_id" property="iId" />
        <result column="Spec5" property="Spec5" />
        <result column="Spec6" property="Spec6" />
        <result column="pro_id" property="proId" />
        <result column="sid" property="sId" />
        <!--        <result column="ProvCode" property="ProvCode" />-->
<!--        <result column="ProvName" property="ProvName" />-->
        <result column="OldBM" property="OldBM" />
        <result column="ItemTM" property="ItemTM" />
        <result column="PackSpec" property="PackSpec" />
        <result column="Spec" property="Spec" />
        <result column="GrossWeight" property="GrossWeight" />
        <result column="NetWeight" property="NetWeight" />
        <result column="MZScale" property="MZScale" />
        <result column="InterchangeNo" property="InterchangeNo" />
        <result column="ZD3" property="zd3" />
        <result column="price" property="price" />
        <result column="member_price" property="memberPrice" />
        <result column="vip_price" property="vipPrice" />
        <result column="protocol_price" property="protocolPrice" />
        <result column="claim_price" property="claimPrice" />
        <result column="insurance_price" property="insurancePrice" />
        <result column="block_up" property="blockUp" />
<!--        <result column="good_width" property="goodWidth" />-->
<!--        <result column="good_show" property="goodShow" />-->
<!--        <result column="booldel" property="booldel" />-->
        <result column="column1" property="column1" />
        <result column="column2" property="column2" />
        <result column="column3" property="column3" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        goods_id, goods_name, gb_id, engine_type, Unit, goods_c_id, i_id, Spec5, Spec6, pro_id, ProvCode, ProvName, OldBM, ItemTM, PackSpec, Spec, GrossWeight, NetWeight, MZScale, InterchangeNo, ZD3, price, member_price, vip_price, protocol_price, claim_price, insurance_price, block_up, good_width, good_show, booldel, column1, column2, column3
    </sql>

    <resultMap id="MyResultMap" extends="BaseResultMap"  autoMapping="true" type="com.accp.domain.Goods">
        <association property="goodsBrand" column="gb_id" autoMapping="true" select="com.accp.mapper.GoodsBrandMapper.selGoodsBrandById"></association>
        <association property="goodsCategory" column="goods_c_id" autoMapping="true" select="com.accp.mapper.GoodsCategoryMapper.selGdCategoryById"></association>
        <association property="suppliersRegion" column="sid" autoMapping="true" select="com.accp.mapper.SuppliersRegionMapper.selSupplier"></association>
        <association property="provinces" column="pro_id" autoMapping="true" select="com.accp.mapper.ProvincesMapper.selProvinces"></association>
    </resultMap>
    <select id="goodsList" resultMap="MyResultMap">
    SELECT * FROM `goods` WHERE `is_delete`=0 AND `block_up`=#{blockUp} AND
    `goods_c_id` IN (SELECT `column1` FROM `goods_category` WHERE FIND_IN_SET(`column1`, getChildLst(#{column1})))
    </select>

    <resultMap id="MyResultMap2" extends="BaseResultMap"  autoMapping="true" type="com.accp.domain.Goods">
        <association property="goodsBrand" column="gb_id" autoMapping="true" select="com.accp.mapper.GoodsBrandMapper.selGoodsBrandById"></association>
        <association property="goodsCategory" column="goods_c_id" autoMapping="true" select="com.accp.mapper.GoodsCategoryMapper.selGdCategoryById"></association>
        <association property="suppliersRegion" column="sid" autoMapping="true" select="com.accp.mapper.SuppliersRegionMapper.selSupplier"></association>
        <association property="provinces" column="pro_id" autoMapping="true" select="com.accp.mapper.ProvincesMapper.selProvinces"></association>
    </resultMap>
    <select id="selGoodsPage" resultMap="MyResultMap2">
    SELECT * FROM `goods` WHERE `is_delete`=0 AND `block_up`=#{blockUp} AND
    `goods_c_id` IN (SELECT `column1` FROM `goods_category` WHERE FIND_IN_SET(`column1`, getChildLst(#{column1})))
    </select>

    <resultMap id="MyResultMap3" extends="BaseResultMap"  autoMapping="true" type="com.accp.domain.Goods">
        <association property="goodsBrand" column="gb_id" autoMapping="true" select="com.accp.mapper.GoodsBrandMapper.selGoodsBrandById"></association>
        <association property="goodsCategory" column="goods_c_id" autoMapping="true" select="com.accp.mapper.GoodsCategoryMapper.selGdCategoryById"></association>
        <association property="suppliersRegion" column="sid" autoMapping="true" select="com.accp.mapper.SuppliersRegionMapper.selSupplier"></association>
        <association property="provinces" column="pro_id" autoMapping="true" select="com.accp.mapper.ProvincesMapper.selProvinces"></association>
    </resultMap>
    <select id="searchGoodsPage" resultMap="MyResultMap3">
        SELECT * FROM `goods`
            ${ew.customSqlSegment}
    </select>

    <select id="goodsListAll" resultMap="MyResultMap3">
         SELECT * FROM `goods` WHERE `is_delete`=0 AND `block_up`=1
    </select>
<!--    <where>-->
<!--        <if test="true">-->
<!--            AND is_delete=0-->
<!--        </if>-->
<!--        <if test="goods.blockUp != null">-->
<!--            AND blockUp=#{goods.blockUp}-->
<!--        </if>-->
<!--        <if test="goods.goodsId != null || goods.goodsId != '' ">-->
<!--            AND goods_id like CONCAT('%',CONCAT(#{goods.goodsId},'%'))-->
<!--        </if>-->
<!--        <if test="goods.goodsName != null || goods.goodsName != ''">-->
<!--            AND goods_name like CONCAT('%',CONCAT(#{goods.goodsName},'%'))-->
<!--        </if>-->
<!--        <if test="goods.gbId != null">-->
<!--            AND gb_id=#{goods.gbId}-->
<!--        </if>-->
<!--        <if test="goods.engineType != null || goods.engineType != ''">-->
<!--            AND engine_type like CONCAT('%',CONCAT(#{goods.engineType},'%'))-->
<!--        </if>-->
<!--        <if test="goods.goodsCId != null">-->
<!--            AND goods_c_id=#{goods.goodsCId}-->
<!--        </if>-->
<!--        <if test="goods.iId != null || goods.iId != ''">-->
<!--            AND i_id=#{goods.iId }-->
<!--        </if>-->
<!--        <if test="goods.Spec5 != null || goods.Spec5 != ''">-->
<!--            AND Spec5=#{goods.Spec5 }-->
<!--        </if>-->
<!--        <if test="goods.Spec6 != null || goods.Spec6 != ''">-->
<!--            AND Spec6=#{goods.Spec6 }-->
<!--        </if>-->
<!--        <if test="goods.proId != null ">-->
<!--            AND pro_id=#{goods.proId }-->
<!--        </if>-->
<!--        <if test="goods.OldBM != null || goods.OldBM != ''">-->
<!--            AND OldBM=#{goods.OldBM }-->
<!--        </if>-->
<!--        <if test="goods.ItemTM != null || goods.ItemTM != ''">-->
<!--            AND ItemTM=#{goods.ItemTM }-->
<!--        </if>-->
<!--        <if test="goods.PackSpec != null || goods.PackSpec != ''">-->
<!--            AND PackSpec=#{goods.PackSpec }-->
<!--        </if>-->
<!--        <if test="goods.Spec != null || goods.Spec != ''">-->
<!--            AND Spec=#{goods.Spec }-->
<!--        </if>-->
<!--        <if test="goods.GrossWeight != null || goods.GrossWeight != ''">-->
<!--            AND GrossWeight=#{goods.GrossWeight }-->
<!--        </if>-->
<!--        <if test="goods.NetWeight != null || goods.NetWeight != ''">-->
<!--            AND NetWeight=#{goods.NetWeight }-->
<!--        </if>-->
<!--    </where>-->

</mapper>
