<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.accp.mapper.GoodsCategoryMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.accp.domain.GoodsCategory">
        <id column="column1" property="column1" />
        <result column="goods_c_id" property="goodsCId" />
        <result column="goods_name" property="goodsName" />
        <result column="parentid" property="parentid" />
        <result column="column2" property="column2" />
        <result column="column3" property="column3" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        goods_c_id, goods_name, parentid, column1, column2, column3
    </sql>

    <resultMap id="MyResultMap" type="com.accp.domain.GoodsCategory" autoMapping="true" extends="BaseResultMap">
        <collection property="children"
                    column="column1" autoMapping="true"
                    select="com.accp.mapper.GoodsCategoryMapper.selByPrent">
        </collection>
    </resultMap>
    <select id="selByPrent" resultMap="MyResultMap">
        SELECT * FROM `goods_category` WHERE `parentid`=#{prentId}
    </select>

    <select id="selGdCategoryById" resultMap="BaseResultMap">
        SELECT * FROM `goods_category` WHERE`column1`=#{column1}
    </select>

</mapper>
