<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.accp.mapper.PaymentMethodMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.accp.domain.PaymentMethod">
        <id column="pm_id" property="pmId" />
        <result column="pmethod" property="pmethod" />
        <result column="column1" property="column1" />
        <result column="column2" property="column2" />
        <result column="column3" property="column3" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        pm_id, pmethod, column1, column2, column3
    </sql>

    <select id="toFind" resultMap="BaseResultMap">
        SELECT * FROM `payment_method` WHERE `pm_id`=#{pmId}
    </select>

</mapper>
