<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.accp.mapper.ServicingprojectMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.accp.domain.Servicingproject">
        <id column="wx_id" property="wxId" />
        <result column="wx_projectnae" property="wxProjectnae" />
        <result column="wx_jialei" property="wxJialei" />
        <result column="wx_miandan" property="wxMiandan" />
        <result column="wx_serviceuser" property="wxServiceuser" />
        <result column="wx_jsjies" property="wxJsjies" />
        <result column="wx_number" property="wxNumber" />
        <result column="wx_gsdanjia" property="wxGsdanjia" />
        <result column="wx_gzmiaoshu" property="wxGzmiaoshu" />
        <result column="wx_gzyuanyin" property="wxGzyuanyin" />
        <result column="wx_weixiubz" property="wxWeixiubz" />
        <result column="wx_gdannumber" property="wxGdannumber" />
        <result column="column1" property="column1" />
        <result column="column2" property="column2" />
        <result column="column3" property="column3" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        wx_id, wx_projectnae, wx_jialei, wx_miandan, wx_serviceuser, wx_jsjies, wx_number, wx_gsdanjia, wx_gzmiaoshu, wx_gzyuanyin, wx_weixiubz, wx_gdannumber, column1, column2, column3
    </sql>
    <resultMap id="BaseResultMap1" type="com.accp.domain.Servicingproject" extends="BaseResultMap">
        <association property="servicing" column="wx_gdannumber" select="com.accp.mapper.ServicingMapper.selBySernumber"></association>
        <association property="cargoods" column="wx_gdannumber" select="com.accp.mapper.CargoodsMapper.selByCloumn"></association>
    </resultMap>
    <select id="selByArray" resultMap="BaseResultMap1">
        SELECT * FROM servicingproject
        <where>
            servicingproject.wx_gdannumber in
            <foreach collection="array" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </where>
    </select>
    <select id="selByServicingProjectId" resultMap="BaseResultMap1">
        SELECT * FROM servicingproject WHERE wx_id=#{wxId}
    </select>
</mapper>
