<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.accp.mapper.SuppliersContactsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.accp.domain.SuppliersContacts">
        <id column="sc_id" property="scId" />
        <result column="sc_name" property="scName" />
        <result column="sc_post" property="scPost" />
        <result column="sc_phone" property="scPhone" />
        <result column="sc_telephone" property="scTelephone" />
        <result column="email" property="email" />
        <result column="column1" property="column1" />
        <result column="column2" property="column2" />
        <result column="column3" property="column3" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        sc_id, sc_name, sc_post, sc_phone, sc_telephone, email, column1, column2, column3
    </sql>

    <select id="toFind" resultMap="BaseResultMap">
        SELECT *FROM `suppliers_contacts` WHERE column1=#{sid}
    </select>

</mapper>
