<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.accp.mapper.SysMenuMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.accp.domain.SysMenu">
        <id column="menu_id" property="menuId" />
        <result column="menu_name" property="menuName" />
        <result column="parent_id" property="parentId" />
        <result column="order_num" property="orderNum" />
        <result column="url" property="url" />
        <result column="menu_type" property="menuType" />
        <result column="char1" property="char1" />
        <result column="perms" property="perms" />
        <result column="create_time" property="createTime" />
        <result column="remark" property="remark" />
        <result column="column1" property="column1" />
        <result column="column2" property="column2" />
        <result column="column3" property="column3" />
    </resultMap>
    <resultMap id="MyResultMap"  type="com.accp.domain.SysMenu" extends="BaseResultMap">
        <collection property="SysMenuC"   column="{menu_id1=menu_id,user_id1=user_id}" ofType="com.accp.domain.SysMenu" autoMapping="true" javaType="java.util.List" select="findMenuC">
            <result column="menu_id" property="menu_id"></result>
        </collection>
    </resultMap>
    <select resultMap="MyResultMap" id="findMenuC">
        SELECT *,@user_id:=#{user_id1} as user_id FROM sys_menu WHERE sys_menu.`menu_id`
        IN (SELECT sys_role_menu.`menu_id` FROM sys_role_menu WHERE sys_role_menu.`role_id`
        IN (SELECT role_id FROM sys_role WHERE role_id IN (SELECT sys_user_role.role_id FROM sys_user
        INNER JOIN sys_user_role ON sys_user.`user_id` = sys_user_role.`user_id`
        WHERE sys_user.`user_id` = #{user_id1}) and (del_flag != 2 and status != 1))) AND parent_id = #{menu_id1} AND (menu_type="C" || menu_type="D") and char1=0
    </select>

    <resultMap id="MyResultMap1"  type="com.accp.domain.SysMenu" extends="BaseResultMap">
        <collection property="SysMenuC"   column="{user_id1=user_id}" ofType="com.accp.domain.SysMenu" autoMapping="true" javaType="java.util.List" select="findMenuC">
            <result column="menu_id" property="menu_id"></result>
        </collection>
    </resultMap>

    <select resultMap="MyResultMap1" id="findMenuM">
        SELECT *,@user_id:=#{user_id1} as user_id FROM sys_menu WHERE sys_menu.`menu_id`
        IN (SELECT sys_role_menu.`menu_id` FROM sys_role_menu WHERE sys_role_menu.`role_id`
        IN (SELECT role_id FROM sys_role WHERE role_id IN (SELECT sys_user_role.role_id FROM sys_user
        INNER JOIN sys_user_role ON sys_user.`user_id` = sys_user_role.`user_id`
        WHERE sys_user.`user_id` = #{user_id1}) and (del_flag != 2 and status != 1))) AND menu_type="M" and char1=0
    </select>

    <select id="findMenuByRole" resultMap="BaseResultMap">
        SELECT * FROM sys_menu WHERE menu_id IN (
            SELECT menu_id FROM sys_role_menu WHERE role_id = #{role_id}
        )
    </select>

    <select id="findPerms" resultMap="BaseResultMap">
        SELECT * FROM sys_menu WHERE sys_menu.`menu_id`
        IN (SELECT sys_role_menu.`menu_id` FROM sys_role_menu WHERE sys_role_menu.`role_id`
        IN (SELECT role_id FROM sys_role WHERE role_id IN (SELECT sys_user_role.role_id FROM sys_user
        INNER JOIN sys_user_role ON sys_user.`user_id` = sys_user_role.`user_id`
        WHERE sys_user.`user_id` = #{user_id1}))) AND menu_type="F" AND char1=0
    </select>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        menu_id, menu_name, parent_id, order_num, url, menu_type, char1, perms, create_time, remark, column1, column2, column3
    </sql>

</mapper>
