<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.accp.mapper.TechnicalMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.accp.domain.Technical">
        <id column="technical_number" property="technicalNumber" />
        <result column="technical_name" property="technicalName" />
        <result column="technical_sex" property="technicalSex" />
        <result column="headman" property="headman" />
        <result column="team_code" property="teamCode" />
        <result column="phone" property="phone" />
        <result column="account_number" property="accountNumber" />
        <result column="address" property="address" />
        <result column="birthday" property="birthday" />
        <result column="Microsignal" property="Microsignal" />
        <result column="id_number" property="idNumber" />
        <result column="address2" property="address2" />
        <result column="bank" property="bank" />
        <result column="bank_number" property="bankNumber" />
        <result column="crade_code" property="cradeCode" />
        <result column="Maintenance_type" property="maintenanceType" />
        <result column="Maintenance_brand" property="maintenanceBrand" />
        <result column="dimission" property="dimission" />
        <result column="column1" property="column1" />
        <result column="column2" property="column2" />
        <result column="column3" property="column3" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        technical_number, technical_name, technical_sex, headman, team_code, phone, account_number, address, birthday, Microsignal, id_number, address2, bank, bank_number, crade_code, Maintenance_type, Maintenance_brand, dimission, column1, column2, column3
    </sql>

</mapper>
