<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.accp.mapper.TypeOfVehicleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.accp.domain.TypeOfVehicle">
        <id column="vtypeid" property="vtypeid" />
        <result column="enginetypeid" property="enginetypeid" />
        <result column="vtypeno" property="vtypeno" />
        <result column="vtypename" property="vtypename" />
        <result column="vprice" property="vprice" />
        <result column="vdate" property="vdate" />
        <result column="vpower" property="vpower" />
        <result column="fuelmark" property="fuelmark" />
        <result column="column1" property="column1" />
        <result column="column2" property="column2" />
        <result column="column3" property="column3" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        vtypeid, enginetypeid, vtypeno, vtypename, vprice, vdate, vpower, fuelmark, column1, column2, column3
    </sql>

</mapper>
