<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>首页信息</title>
		<link href="../css/bootstrap.min.css" rel="stylesheet" />
		<style>
			img{
				display: ;
			}
			ul li {
				font-size: 40px;
				font-weight: 100;
				list-style: none;
				font-size: 13px;
				line-height: 50px;
			}
		</style>
	</head>
	<body>
		<div id="ctx"> 
		<div class="row">
		  <div class="col-md-4">
		  	<img src="../img/123456.png">
		  	<p @click="jrqt()">今日前台:￥{{xfje}}</p>
		  </div>
		  <div class="col-md-4">
		  	<img src="../img/123456.png">
		  	<p @click="jrkf()">今日库房:￥6651313</p>
		  </div>
		  <div class="col-md-4">
		  	<img src="../img/123456.png">
		  	<p @click="jrjs()">今日结算:￥{{jsje}}</p>
		  </div>
		</div>
		
		
		<div class="row">
		  <div class="col-md-8">
		  	<img src="../img/23456.png">
		  </div>
		  <div class="col-md-4" style="">
		  		<div style="margin-left: 20px;" v-if="qt">
		  			<h4>今日前台</h4>
		  			<ul>
		  				<li>结算台次:{{jstc}}</li>
		  				<li>消费金额:￥{{xfje}}</li>
		  			</ul>
		  		</div>
		  		
		  		<div  style="margin-left: 20px;" v-if="kf">
		  			<h4>今日库房</h4>
		  			<ul>
		  				<li>当前库存数量:0</li>
		  				<li>当前库存金额:￥532元</li>
		  			</ul>
		  		</div>
		  		
		  		<div  style="margin-left: 20px;" v-if="js">
		  			<h4>今日结算</h4>
		  			<ul>
		  				<li>现金收入:￥{{jsje}}元</li>
		  				<li>银行账户:￥{{jsje}}元</li>
		  			</ul>
		  			</div>
		  		</div>
			</div>
		</div>
	</body>
	<script type="text/javascript" src="../js/jquery.min.js" ></script>
	<script type="text/javascript" src="../js/vue.js" ></script>
	<script type="text/javascript" src="../js/bootstrap.min.js" ></script>
	<script>
		new Vue({
			el:"#ctx",
			data:{
				page:{},
				page2:{},
				page3:{},
				jsje:0,
				jstc:0,
				xfje:0,
				dqkc:0,
				kcje:0,
				qt:true,
				kf:false,
				js:false
			},
			methods:{
				jrqt(){
					this.qt=true;
					this.kf=false;
					this.js=false;
				},
				jrkf(){
					this.qt=false;
					this.kf=true;
					this.js=false;
				},
				jrjs(){
					this.qt=false;
					this.kf=false;
					this.js=true;
				},
				find(){
								let that = this;
								$.ajax({
										url:"http://127.0.0.1:8080/car/Selectjs/",
										type:"post",
										dataType:"json",
										success:function(result){
												that.page=result;
												$.each(that.page,function(i,obj){
             												that.jsje+=obj.settlementMoney;
          										})
											}
								});
								$.ajax({
										url:"http://127.0.0.1:8080/car/Selectwx/",
										type:"post",
										dataType:"json",
										success:function(result){
												that.page2=result;
												$.each(that.page2,function(i,obj){
															that.jstc++;
             												that.xfje+=obj.wxXhje;
          										})
											}
								});
								$.ajax({
										url:"http://127.0.0.1:8080/car/Selectsp/",
										type:"post",
										dataType:"json",
										success:function(result){
												that.page3=result;
												$.each(that.page3,function(i,obj){
															that.jstc++;
             												that.xfje+=obj.wxXhje;
          										})
											}
								});


							}
				
			},created(){
				this.find();
			}
		});
	</script>
</html>
