<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>首页信息</title>
		<link href="../css/bootstrap.min.css" rel="stylesheet" />
		<style>
			img{
				display: ;
			}
			ul li {
				font-size: 40px;
				font-weight: 100;
				list-style: none;
				font-size: 13px;
				line-height: 50px;
			}
		</style>
	</head>
	<body>
		<div id="ctx"> 
		<div class="row">
		  <div class="col-md-4">
		  	<img src="../img/123456.png">
		  	<p @click="jrqt()">今日前台:￥6651313</p>
		  </div>
		  <div class="col-md-4">
		  	<img src="../img/123456.png">
		  	<p @click="jrkf()">今日库房:￥6651313</p>
		  </div>
		  <div class="col-md-4">
		  	<img src="../img/123456.png">
		  	<p @click="jrjs()">今日结算:￥6651313</p>
		  </div>
		</div>
		
		
		<div class="row">
		  <div class="col-md-8">
		  	<img src="../img/23456.png">
		  </div>
		  <div class="col-md-4" style="">
		  		<div style="margin-left: 20px;" v-if="qt">
		  			<h4>今日前台</h4>
		  			<ul>
		  				<li>接车台次:2</li>
		  				<li>结算台次:2</li>
		  				<li>在修台次:2</li>
		  				<li>首保台次:2</li>
		  				<li>返修台次:2</li>
		  				<li>站内维修台次:2</li>
		  				<li>站外维修台次:2</li>
		  				<li>自费维修产值:￥4132</li>
		  				<li>保险理赔产值:￥4132</li>
		  				<li>索赔申报金额:￥4132</li>
		  			</ul>
		  		</div>
		  		
		  		<div  style="margin-left: 20px;" v-if="kf">
		  			<h4>今日库房</h4>
		  			<ul>
		  				<li>现金入库数量:0  金额:￥532元</li>
		  				<li>挂账入库数量:0  金额:￥532元</li>
		  				<li>配件销售数量:0  金额:￥532元</li>
		  				<li>自费出库数量:0  </li>
		  				<li>自费出库金额:￥532元</li>
		  				<li>三包入库数量:0</li>
		  				<li>三包出库金额:￥532元</li>
		  				<li>当前库存数量:0</li>
		  				<li>当前库存金额:￥532元</li>
		  			</ul>
		  		</div>
		  		
		  		<div  style="margin-left: 20px;" v-if="js">
		  			<h4>今日结算</h4>
		  			<ul>
		  				<li>现金收入:￥531元</li>
		  				<li>客户挂账:￥531元</li>
		  				<li>银行账户:￥531元</li>
		  				<li>微信账号:￥531元</li>
		  				<li>支付宝:￥531元</li>
		  				<li>三包金额:￥531元</li>
		  			</ul>
		  			</div>
		  		</div>
			</div>
		</div>
	</body>
	<script type="text/javascript" src="../js/jquery.min.js" ></script>
	<script type="text/javascript" src="../js/vue.js" ></script>
	<script type="text/javascript" src="../js/bootstrap.min.js" ></script>
	<script>
		new Vue({
			el:"#ctx",
			data:{
				page:{},
				js:0,
				qt:true,
				kf:false,
				js:false
			},
			methods:{
				jrqt(){
					this.qt=true;
					this.kf=false;
					this.js=false;
				},
				jrkf(){
					this.qt=false;
					this.kf=true;
					this.js=false;
				},
				jrjs(){
					this.qt=false;
					this.kf=false;
					this.js=true;
				},
				find(){
					let that = this;
								var car = that.clss;
								this.carObject={};
							
								$.ajax({
										url:"http://127.0.0.1:8080/car/Selectjs/",
										data:{car:car},
										type:"post",
										dataType:"json",
										success:function(result){
												that.page=result;
												page.forEach(function (item, index) {
													this.js+=item.settlementMoney
   													 alert(this.js)
												});
											}
								});

							}
				
			},created(){
				this.ks();
			}
		});
	</script>
</html>
