<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>首页</title>
	<link href="../css/bootstrap.min.css" rel="stylesheet" />
	<style type="text/css">
		body,
		html {
			margin: 0px;
			padding: 0px;
			height: 100%;
			background-color: #2E6DA4;
			color: white;
		}

		a {
			color: white;
		}

		#ctn {
			height: 100%;
			width: 100%;
			border: 2px solid #e3e3e3;
		}

		.hreder {
			height: 10%;
			border-bottom: 1px solid #e3e3e3;
			background-color: #286090;
			color: white;
		}

		iframe {
			background-color: white;
		}

		.nav {
			margin-left: 20px;
		}

		.row>div:nth-child(1) {
			border-right: 1px solid #e3e3e3;
		}

		.a,
		#a {
			padding: 0px;
			margin: 0px;
		}

		iframe {
			width: 100%;
			height: 600px;
			border: 0px;
		}

		.tabclose {
			position: absolute;
			top: 0px;
			right: 0px;
		}
	</style>
</head>

<body>
	<div id="ctn" class="container-fluid">
		<h2 class="hreder">德召文</h2>
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-11">
				<ul class="nav nav-tabs" style="padding-left: 65px;">
					<li role="presentation" v-for="item in menuM"><a href="#"  @click="find_MenuC(item.menuId)">{{item.menuName}}</a></li>
				</ul>
			</div>
			<div class="row">
				<div class="col-xs-2">
					<tree :menu="menu" @create-tab="createTab"></tree>
				</div>
				<div class="col-xs-10 a">
					<ul class="nav nav-tabs" id="a">
						<li :class="{active:item.active}" v-for="item,index in tabs"><a :href="'#'+item.column1"
								data-toggle="tab">{{item.menuName}}<span @click="removeTab(index)" class="close tabclose"
									data-dismiss="modal" v-if="index!=0">&times;</span></a></li>
					</ul>
					<div class="tab-content">
						<div v-for="item in tabs" :id="item.column1" :class="['tab-pane',item.active?'active':'']">
							<iframe :src="item.url"></iframe>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="../js/jquery.min.js"></script>
	<script type="text/javascript" src="../js/vue.js"></script>
	<script type="text/javascript" src="../js/bootstrap.min.js"></script>
	<script type="text/javascript">
		var user = sessionStorage.getItem("user");
		var basePath = "http://127.0.0.1:8080/";
		Vue.component("tree", {
			props: ["menu"],
			template: `
			<ul class="nav nav-pills nav-stacked">
				<li v-for="item in menu">
					<a href="#" @click="createTab(item)">{{item.menuName}}</a>
					<tree @create-tab="createTab" :menu="item.sysMenuC"></tree>
				</li>
			</ul>
		`,
			methods: {
				createTab(item) {
					this.$emit("create-tab", item);
				}
			}
		})
		new Vue({
			el: "#ctn",
			data() {
				return {
					menu: {},
					tabs: [
						{ id: 0, menuName: "首页", column1: "index", active: true, path: "首页信息.html" }
					],
					menuM:{},
				}
			},
			methods: {
				find_Menu(){
					let that = this;
					$.ajax({
						url:basePath + "sysMenu",
						type:"post",
						async:false,
						xhrFields: {
                            withCredentials: true
                        },
                        crossDomain: true,
						dataType:"JSON",
						success:function(result){
							that.menuM = result;
						}
					})
				},
				find_MenuC(menuId){
					let that = this;
					$.ajax({
						url:basePath + "sysMenu/"+menuId,
						type:"post",
						async:false,
						xhrFields: {
                            withCredentials: true
                        },
                        crossDomain: true,
						dataType:"JSON",
						success:function(result){
							that.menu = result;
						}
					})
				},
				isLogin(){
					var user1 = null;
					$.ajax({
						url:basePath + "sysUser/isUser",
						type:"post",
						async:false,
						xhrFields: {
                            withCredentials: true
                        },
                        crossDomain: true,
						dataType:"JSON",
						success:function(result){
							user1 = result;
						}
					})
					if(!user && (user1.loginName != null && user1.loginName != "null")){
						alert("您还没有登录，请重新登录后在进入首页.....");
						window.location.href="../../login/chahua3434/login.html";
						return false;
					}
				},
				createTab(item) {
					if (item.sysMenuC && item.sysMenuC.length > 0) {
						return;
					}
					this.tabs.forEach(item => { item.active = false; });
					this.$set(item, "active", true);
					var filterItem = this.tabs.filter(sitem => sitem.column1 == item.column1);
					if (filterItem && filterItem.length>0) {
						this.$set(filterItem[0], "active", true);
					}else{
						this.tabs.push(item);
					}
				},
				removeTab(index) {
					if (index == this.tabs.length - 1) {
						this.tabs[index - 1].active = true;
					}
					this.tabs.splice(index, 1);
				},
			},
			created(){
				var flag = this.isLogin();
				if(flag == false){
					return;
				}
				this.find_Menu();
				this.find_MenuC(this.menuM[0].menuId);
			}
		});
	</script>
</body>

</html>